@import 'effects';
%menu-item {
  background: var(--selectable-bg);
  border-color: var(--selectable-border-color);

  .img {
    color: var(--primary-color-depth2);
  }

  &.w-current {
    background: var(--selectable-hover-bg) !important;
  }
}

%menu-item-clickable {
  @extend %menu-item;
  @include hover-effect(var(--selectable-hover-bg), var(--selectable-active-bg));
}

.empty-result-notice {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}