%full-fixed-width {
  width: 100%;
}

:host-context(.floating-home-wrapper) {
  %full-fixed-width {
    width: 35%;
    max-width: 550px;
    z-index: 0;
  }
}

:host-context(.content-wrapper.in-widescreen) {
  %full-fixed-width {
    width: 65%;
    min-width: calc(100% - 550px);
  }
}
