.big-logo {
    text-align: center;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.big-logo img {
    width: 100%;
    height: 100%;
}

.version {
    text-align: center;
    margin: auto;
    font-size: 25px;
    color: #AAA;
    margin-top: 10px;
}

.version p {
    font-size: 15px;
    display: inline-block;
    margin: 0 2%;
}

.foot-text {
    position: fixed;
    width: 100%;
    margin: auto;
    bottom: 30px;
    text-align: center;
}

.foot-text p{
    margin-bottom: 5px;
    margin-top: 0;
}

kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem;
    vertical-align: middle;
}

a {
    text-decoration: none;
}