@import "fixed_widescreen";
@import "menus";

.search-part {
  @extend %full-fixed-width;
  position: fixed;
  z-index: 50;
  background-color: var(--header-action-bg);

  .search-input {
    padding: 7px;
    display: flex;
    margin-bottom: 8px;
    input {
      border: 1px solid var(--text-input-border-color);
      color: var(--default-textcolor);
      background-color: var(--text-input-bg);
      border-radius: 6px;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      box-shadow: none;
      width: 100%;
      height: 35px;
      padding: 6px 12px;
      font-size: 14px;
      box-sizing: border-box;
      outline: none;
      flex: auto;
      border-radius: 6px 6px 6px 6px;
    }

    &.search-input-with-button {
      button {
        float: left;
        border-radius: 0 6px 6px 0;
        width: 100px;
        height: 35px;
        flex: none;

        &.compact {
          width: 50px;
        }
      }

      input {
        border-radius: 6px 0 0 6px;
      }
    }
  }

  .search-type {
    width: 100%;
    font-size: 18px;
    height: 40px;

    div {
      width: 50%;
      vertical-align: middle;
      overflow: hidden;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      transition: background-color ease-out 0.2s;
      border-radius: 6px 6px 0 0;

      .dot {
        border-radius: 50%;
        width: unset;
        position: unset;
      }

      span {
        line-height: 40px;
      }
    }

    &.selected {
      background-color: var(--selectable-bg);
    }
  }
}

.search-holder {
  height: 97px;
}

.result {
  @extend %menu-item-clickable;
  height: 60px;
  border-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
  display: grid;
  grid-template-columns: 50% 50%;
  outline: none;
  user-select: none;
  transition: all ease-out 0.2s;

  .user-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  .sender {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    word-break: break-all;
  }

  i {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: medium;
  }

  > * {
    margin: auto;
  }
}

h3 {
  text-align: center;
}

.searchGroupImage {
  position: relative;
}

.discoverUsers {
  grid-template-columns: repeat(4, 25%);

  button {
    width: 80%;
    grid-row: 1 / 3;
  }

  .user-img {
    grid-row: 1 / 3;
  }

  .sender {
    grid-row: 1 / 3;
  }

  p:first-of-type {
    grid-row: 1;
  }

  p:last-of-type {
    grid-row: 2;
  }
}

.empty-result-notice {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}
