@import 'fixed_widescreen';
@import 'menus';

.search-part {
  @extend %full-fixed-width;
  position: fixed;
  z-index: 50;
  background-color: var(--header-action-bg);
}

.search-holder {
  height: 97px;
}

.searchGroupImage {
  position: relative;
}

.discoverUsers {
  grid-template-columns: repeat(4, 25%);

  button {
    width: 80%;
    grid-row: 1 / 3;
  }

  .user-img {
    grid-row: 1 / 3;
  }

  .sender {
    grid-row: 1 / 3;
  }

  p:first-of-type {
    grid-row: 1;
  }

  p:last-of-type {
    grid-row: 2;
  }
}
