@import "themes";

.header-alert {
  display: inline-block;
  background-color: #fbe876;
  width: 100%;
  margin-top: 40px;
  overflow: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  color: red;
  z-index: 1000;
  position: fixed;

  .words {
    text-align: center;
    margin: 0;
    font-size: 12px;
  }

  &.in-widescreen {
    width: 35%;
    max-width: 550px;
  }
}

.macOS-electron-alert {
  margin-top: 35px;
}

.floating-home-wrapper {
  @extend %floating-home;
  float: left;
  width: 35%;
  max-width: 550px;
  height: 100vh;
  overflow-y: scroll;
  border-right-width: 1px;
  border-right-style: solid;
  transition: all 0.2s ease-in-out;
}

.content-wrapper {
  height: 100vh;
  overflow-y: scroll;
  width: auto;
  position: relative;
  box-shadow: -4px 0px 8px 0px rgba(0,0,0,0.2);
}

.content-empty {
  height: 100vh;
  overflow-y: hidden;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    margin: 10px;
  }

  img {
    border-radius: 8px;
    cursor: pointer;
  }
}
