.header-alert {
    display: inline-block;
    background-color: #fbe876;
    width: 100%;
    margin-top: 40px;
    overflow: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    color: red;
    z-index: 1000;
    position: fixed;
}

.header-alert .words {
    text-align: center;
    margin: 0;
    font-size: 12px;
}