@import "themes";

.floating-home-wrapper {
  @extend %floating-home;
  float: left;
  width: 35%;
  max-width: 550px;
  height: 100vh;
  overflow-y: scroll;
  border-right-width: 1px;
  border-right-style: solid;
  transition: all 0.2s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.content-wrapper {
  height: 100vh;
  overflow-y: scroll;
  width: auto;
  position: relative;

  box-shadow: -4px 47px 8px 0 rgba(0,0,0,.2);
  z-index: 11;
  -webkit-overflow-scrolling: touch;
}

.content-empty {
  height: 100vh;
  overflow-y: hidden;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    margin: 10px;
  }

  img {
    border-radius: 8px;
    cursor: pointer;
  }
}
