.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin: 0 5px;
  user-select: none;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-offline {
  color: #fff;
  background: #999;
}

.badge-primary {
  color: #fff;
  background-color: #17a2b8 !important;
}

.badge-secondary {
  color: #fff;
  background-color: #0366d6 !important;
}

.badge-admin {
  color: #fff;
  background-color: #6f42c1 !important;
}

.badge-owner {
  color: #fff;
  background-color: #f0ad4e !important;
}
