.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin: 5px;
}

.badge-success {
    color: #fff;
    background-color: #28a745
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

.badge-primary {
    color: #fff;
    background-color: #17a2b8
}
