@use 'effects';

.select-button-group {
  margin: 4px 10px 4px 10px;
  display: flex;
  flex-wrap: wrap;
}

.select-button {
  display: inline-flex;
  align-items: center;
  background: var(--selectable-bg);
  border: var(--selectable-border-color) 2px solid;
  border-radius: 16px;
  margin: 4px;
  padding: 8px;
  user-select: none;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  @include effects.hover-effect(var(--selectable-hover-bg), var(--selectable-active-bg));

  .checked {
    visibility: hidden;
    margin-left: 6px;
  }

  &.selected {
    background: var(--primary-color-depth3);
    color: white;

    .checked {
      visibility: visible;
    }
  }
}

.color-ellipse {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  display: inline-block;
  border: white solid 2px;
  margin-right: 4px;

  &.fas {
    border: none;
  }
}
