@import 'menus';

.contact-list {
  @extend %menu-item-clickable;
  height: 60px;
  border-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
  display: grid;
  grid-template-columns: 50% 50%;
  outline: none;
  user-select: none;
  transition: all ease-out 0.2s;

  .user-img-group {
    position: relative;

    .small-dot {
      top: 36px;
      right: -4px;
      position: absolute;
    }
  }

  .user-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

  .sender {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    word-break: break-all;
  }

  i {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: medium;
  }

  > * {
    margin: auto;
  }
}
