@import "menus";

/******************
 *    Friends
 ******************** */

.friends-header {
  width: 100%;
  height: 80px;

  .friends-button {
    @extend %menu-item-clickable;
    color: var(--primary-color-depth2);
    width: 25%;
    float: left;
    height: 80px;
    text-decoration: none;
    transition: all 0.2s ease-out;

    .icon {
      width: 70px;
      position: relative;
      text-align: center;
      margin: 7px auto auto;
      font-size: 2.4em;
    }

    .words {
      text-align: center;
      user-select: none;
    }

    .reddot {
      right: 10px;
    }
  }
}

.search-type {
  margin-top: 5px;
}

.header-space {
  height: 177px;
  width: 100%;
}

.share-header-space {
  height: 97px;
}
