/**********************
    friendrequests
************************/
.friendrequests {
  height: 80px;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #E8E8E8;
  cursor: pointer;
  background-color: #FFF;
  position: relative;
}


  .friendrequests .user-img {
    margin-left: 15px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 10px;
  }

  .friendrequests .name {
    position: absolute;
    margin-left: 85px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
  }

  .friendrequests .time {
    position: absolute;
    margin-left: 85px;
    margin-top: 40px;
    font-size: 13px;
    color: #999999;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
}

 .friendrequests .buttons .Accept {
  float: right;
  position: absolute;
  right:140px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #FFF;
  transition: all 0.2s ease;
  height: 30px;
  bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  padding:8px;
  cursor: pointer;
  width: 120px;
      background-color: #63c063;

  }
  .friendrequests .buttons .Accept:hover {
      background-color: #3c983c;

  }

  .friendrequests .buttons .Completed {
    float: right;
    position: absolute;
    right:75px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #FFF;
    transition: all 0.2s ease;
    height: 30px;
    bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    padding:8px;
    cursor: pointer;
    width: 120px;
    background-color: #5cb85c;

}

  .friendrequests .buttons .Decline {
  float: right;
  position: absolute;
  right:10px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #FFF;
  transition: all 0.2s ease;
  height: 30px;
  bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  padding:8px;
  cursor: pointer;
  width: 120px;
      background-color: #d9534f;
  }

  .friendrequests .buttons .Decline:hover{

      background-color: #c9433f;
  }

  .friendrequests .buttons .Decline:active{
      background-color: #B12824;
  }

