/******************
    Header
********************/
.header {
    position: fixed;
    background-color: #2391d3;
    /* background-image:linear-gradient(90deg, #4075d5, #48A3DD); */
    height: 50px;
    width: 100%;
    top: 0;
    overflow: auto;
    z-index: 999;
}


.header-holder {
    height: 50px;
}

.header .returnButton {
    float: left;
    width:30px;
    height:30px;
    margin-left:20px;
    margin-top:10px;
    color:white;
    font-size:1.8em;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.header .returnButton:hover {
    background-color: rgba(230,230,230,0.4);
}

.header .user-button{
    cursor: pointer;
    float: left;
    width: 35px;
    height: 35px;
    color: #FFF;
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: center;
    font-size: 1.7em;
    outline: none;
    border-radius: 5px;
}

.header .user-button:hover{
    background-color: rgba(230,230,230,0.4);
}

.header .text {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    width: 76%;
}

