/******************
    User
********************/

.user {
    height: 70px;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #D9D9D9;
    background-color: #FFF;
}

.user .user-img {
    margin-left: 15px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 10px;
}

.user .name {
    position: absolute;
    margin-left: 85px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

.user .create-time {
    position: absolute;
    margin-left: 85px;
    margin-top: 40px;
    font-size: 13px;
    color: #999999;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
}

.buttons {
    padding: 10px;
    z-index: 99;
    bottom: 0;
    height: 55px;
    float: center;
    margin: auto;
    text-align: center;
}

.buttons button {
    border: none;
    outline: none;
    border-radius: 8px;
    color: #FFF;
    transition: all 0.2s ease;
    width: 100%;
    max-width: 570px;
    height: 40px;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.buttons .success {
    background-color: #5cb85c;
}

.buttons .success:focus {
    background-color: #3c983c;
}

.buttons .primary {
    background-color: #4075d5
}

.buttons .primary:focus {
    background-color: #48A3DD;
}

.buttons .warning {
    background-color: #d9534f;
}

.buttons .warning:hover {
    background-color: #c9433f;
}

.buttons .warning:active {
    background-color: #B12824;
}

.menu-holder {
    height: 20px;
}

.menu-button {
    height: 50px;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #E8E8E8;
    cursor: pointer;
    background-color: #FFF;
    outline: none;
}

.menu-button:hover {
    background-color: #F6F6F6;
}

.menu-button .img {
    margin-left: 10px;
    margin-top: 13px;
    width: 36px;
    float: left;
    border-radius: 8px;
    text-align: center;
    color: #18A4F9;
}

.menu-button .img i {
    font-size: 2em;
}

.menu-button .text {
    position: absolute;
    margin-left: 55px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

.warning {
    color: #d9534f;
}