
/******************
    Nav bar
********************/
.nav-bar {
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100%;
    border-width: 1px;
    border-top-style: solid;
    box-shadow: 0px 22px 50px 10px rgba(0,0,0,0.37);
    user-select: none;
}

:host-context(.theme-light) .nav-bar{
    background-color: #FFF;
    border-color: #D6D6D6;
}

:host-context(.theme-dark) .nav-bar{
    background-color: #2f3640;
    border-color: #34495e;
}

.nav-bar-holder {
    height: 50px;
}

.nav-bar .nav-item {
    outline: none;
    float: left;
    width: 33.33333%;
    height: 100%;
    color: #BBBBBB;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.nav-bar .nav-item:hover {
    color: rgb(131, 182, 211);
}

:host-context(.theme-light) .nav-bar .nav-item:hover{
    background-color: #F8F8F8;
}

:host-context(.theme-dark) .nav-bar .nav-item:hover{
    background-color: #374554;
}

    .nav-bar .nav-item.current {
        color: #18A4F9;
    }


    .nav-bar .nav-item .icon {
        width: 40px;
        position: relative;
        text-align: center;
        margin: auto;
        margin-top: 5px;
        font-size: 1.7em;
    }


    .nav-bar .nav-item .words {
        text-align: center;
        margin: auto;
        font-size:13px;
    }
