
/******************
    Nav bar
********************/
.nav-bar {
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100%;
    border-width: 1px;
    background-color: #FFF;
    border-color: #D6D6D6;
    border-top-style: solid;
}

.nav-bar-holder {
    height: 50px;
}

.nav-bar .nav-item {
    outline: none;
    float: left;
    width: 25%;
    height: 100%;
    color: #BBBBBB;
    text-decoration: none;
    border-radius: 10px;
}

.nav-bar .nav-item:hover {
    color: rgb(131, 182, 211);
    background-color: #F8F8F8;
    
}

    .nav-bar .nav-item.current {
        color: #18A4F9;
    }


    .nav-bar .nav-item .icon {
        width: 40px;
        position: relative;
        text-align: center;
        margin: auto;
        margin-top: 5px;
        font-size: 1.7em;
    }

        
    .nav-bar .nav-item .words {
        text-align: center;
        margin: auto;
        font-size:13px;
    }

.nav-reddot {
    top: 0;
    right: 0;
    position: absolute;
    width: 20px;
    height: 17px;
    padding-top: 2px;
    color: white;
    background-color: red;
    font-size: 12px;
    border-radius: 10px;
    float: left;
    text-align: center;
}
