.dot {
    top: 0;
    right: 0;
    position: absolute;
    min-width: 20px;
    max-width: 24px;
    height: 20px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.reddot {
    background-color: #E53935;
}

.bluedot {
    background-color: #26c6da;
}
