@import "fixed_widescreen";

/******************
 *    Talking
 ******************** */

.message-list {
  list-style: none;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 13px;
  text-align: center;
  min-height: calc(100vh - 130px);
  position: relative;
  background-color: var(--default-background);

  li {
    clear: both;
    box-sizing: border-box;
  }

  .message-line {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 18px;
    position: relative;

    &.grouped {
      .chat-avatar {
        height: 0;
      }

      margin-top: 0;
    }
  }

  .left .message-line {
    flex-direction: row;
  }

  .right .message-line {
    flex-direction: row-reverse;
  }

  .chat-avatar {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    position: absolute;

    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      user-select: none;
    }

    &:focus {
      outline: none;
    }
  }

  .right .chat-avatar {
    right: 0;
  }

  .message-block {
    display: block;
    font-size: 12px;
    flex: 0 1 auto;
    max-width: 70%;

    * {
      vertical-align: middle;
    }

    .button {
      margin-right: 0.5rem;
      background-color: #d9534f;
    }

    .share {
      cursor: pointer;
    }
  }

  .left .message-block {
    text-align: left;
    margin-left: 52px;
  }

  .right .message-block {
    text-align: right;
    margin-right: 52px;
  }

  %split-bar {
    clear: both;
    font-size: 14px;
    user-select: none;
    margin: 6px 0 6px 0;
    position: relative;
    display: inline-block;
    color: #bbb;

    &::before, &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      left: -120px;
      width: 100px; // 100px line on either side
      border-bottom: 1px solid #aaa;
    }

    &::after {
      left: auto;
      right: -120px;
    }
  }

  .last-read-bar {
    @extend %split-bar;
    color: var(--primary-color-depth2);
    font-weight: 800;

    &::before, &::after {
      border-bottom: 2px solid var(--primary-color-depth2);
    }
  }

  .date-bar {
    @extend %split-bar;
  }

  .message-balloon {
    border-radius: 8px;
    color: white;
    padding: 10px;
    position: relative;
    display: inline-block;
    min-height: 17px;

    p {
      text-align: left;
      word-break: break-word;
      margin: 0;
      white-space: pre-wrap;
    }

    &.balloon-grouped:after, &.single-emoji:after {
      border-left: unset !important;
      border-right: unset !important;
    }

    &.single-emoji {
      background: transparent !important;

      p {
        font-size: 64px;
      }
    }

    .loading {
      color: #eeeeee;
    }

    &:after {
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 5px solid transparent;
      margin-top: -5px;
    }

    span {
      font-weight: bold;
    }
  }

  .left .message-balloon {
    border-color: var(--talking-chat-bg);
    color: var(--default-textcolor);
    background: var(--talking-chat-bg);

    &::after {
      right: 100%;
      top: 20px;
      border-right-color: var(--talking-chat-bg);
    }
  }

  .right .message-balloon {
    background: linear-gradient(120deg, var(--primary-color-depth3) 0%, var(--primary-color-depth2) 100%);

    &::after {
      border-left-color: var(--primary-color-depth3);
      left: 100%;
      top: 20px;
    }
  }

  .sendTime {
    color: #aaa;
    flex: 0 1 auto;
    align-self: center;
    margin: 0 0 0 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    padding-left: 7px;
    padding-right: 7px;
  }

  .left .sendTime {
    transform: translateX(-30px);
  }

  .right .sendTime {
    transform: translateX(30px);
  }

  .message-block:hover ~ .sendTime, .sendTime.show {
    opacity: 1;
    transform: translateX(0) !important;
    flex: 0 0 auto;
  }

  .sendFail {
    color: #d9534f;
    font-size: 14px;

    &.last {
      animation: 0.25s shake;
    }
  }
}

.active-button {
  bottom: 185px !important;
}

.active-list {
  margin-bottom: 161px;
}

.load-more {
  width: 240px;
  margin-bottom: 20px;
  background-color: var(--selectable-bg);
  color: var(--minor-textcolor);
}

.image-container {
  position: relative;
  max-height: 1000px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.message-list .message-balloon video {
  width: 100%;
}

.chat-action {
  @extend %full-fixed-width;
  display: inline-block;
  position: fixed;
  z-index: 50;
  bottom: 0;
  padding-top: 30px;
  overflow-x: hidden;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }

  .sys-notify {
    height: 25px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    visibility: collapse;
    background-color: var(--primary-color-depth2);
    color: var(--default-textcolor);

    &.sys-notify-shown {
      opacity: 1;
      visibility: visible;
    }
  }

  .userList {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    background-color: var(--talking-action-bg);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    li {
      margin: 0;
    }
  }

  .chat-box {
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    z-index: 50;
    bottom: 0;
    box-shadow: 0 23px 50px 10px rgba(0, 0, 0, 0.37);
    background-color: var(--talking-action-bg);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    .chat-part {
      transition: all 0.15s ease-in-out;
      display: flex;

      textarea {
        width: 100%;
        border: none;
        border-radius: 6px 0 0 6px;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, width ease-in-out 0.15s;
        box-shadow: none;
        min-height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        box-sizing: border-box;
        outline: none;
        resize: none;
        overflow-x: hidden;
        background-color: var(--text-input-bg);
        color: var(--default-textcolor);
        flex: 1 1 auto;
      }

      button {
        visibility: visible;
        padding: 0 16px;
        width: 100px;
        opacity: 1;
        border-radius: 0 6px 6px 0;
        height: 34px;
        transition: all 0.15s ease-in-out;
        flex: 0 0 auto;
      }

      i {
        cursor: pointer;
        color: #bbb;
        font-size: 2.5em;
        outline: none;
        width: 0;
        text-align: center;
        flex: 0 0 auto;
        opacity: 0;
        transition: all 0.15s ease-in-out;

        &.active {
          color: var(--primary-color-depth3);
        }
      }

      &.empty {
        button {
          visibility: hidden;
          padding: 0;
          width: 0;
          opacity: 0;
        }

        textarea {
          border-radius: 6px;
        }

        i {
          width: 40px;
          opacity: 1;
        }
      }
    }

    .more-panel {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;

      .of4 {
        text-align: center;

        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }

        label {
          &:hover {
            background-color: var(--default-foreground-20);
          }

          &:active {
            background-color: var(--default-foreground-40);
          }

          text-align: center;
          padding: 10px;
          margin-top: 15px;
          height: 70px;
          border-radius: 5px;
          color: white;
          display: inline-block;
          cursor: pointer;
          width: 80px;
          transition: all 0.15s ease-out;
        }
      }
    }
  }
}

i {
  font-size: 1.5rem;
}

.of4 .text {
  margin-top: 15px;
  color: #727272;
  user-select: none;
}

#scrollDown {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.message-block a {
  text-decoration: none;
}

.left {
  .message-block a,
  .message-balloon .voicemsg span {
    color: #9baec8;
  }
}

.right {
  .message-block a,
  .message-balloon .voicemsg span {
    color: #d9e1e8;
  }
}

.right .message-balloon span {
  color: #fff;
}

.share-item {
  display: grid;
  grid-template-columns: 50px 2fr;
  align-items: center;

  &.file {
    grid-template-columns: 40px 2fr;
  }

  div {
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;

    img {
      border-radius: 8px;
      width: 40px;
      height: 40px;
    }
  }

  span {
    grid-column-start: 2;
    text-align: right;
    word-break: break-all;
  }

  h5 {
    margin: 0;
    font-size: 14px;
    word-break: break-all;
  }
}

.message-list .message-balloon .voicemsg {
  align-items: center;
  display: grid;
  grid-template-columns: 40px 2fr;
  grid-template-rows: auto;

  .fa {
    text-align: center;
  }

  span {
    font-size: 16px;
    grid-column-start: 2;
  }
}

#scrollDown {
  background-color: var(--primary-color-depth2);

  &:hover:enabled {
    background-color: var(--primary-color-depth3);
  }

  &:active {
    background-color: var(--primary-color-depth3);
  }
}

.oneResult {
  bottom: 0;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0px);
  }
  25%, 75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }

}
