/******************
 *    Talking
 ******************** */

.message-list-placeholder {
  height: 60px;
}

.message-list-placeholder.active-list {
  height: 221px;
}

.active-button {
  bottom: 185px !important;
}

#scrollDown {
  position: fixed;
  bottom: 80px;
  right: 20px;
}
