.tgl {
    display: none;
}

.tgl-btn {
    cursor: pointer;
    width: 4em;
    height: 2em;
    margin-right: 5%;
    transition: all .4s ease;
    border-radius: 2em;
    padding: 2px;
}

:host-context(.theme-light) .tgl-btn{
    background: #f0f0f0;
}

:host-context(.theme-dark) .tgl-btn{
    background: #888;
}

.tgl-btn::after {
    position: relative;
    left: 0;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease;
    background: #fff;
}

.tgl:checked + .tgl-btn {
    background: #5cb85c;
}

.tgl:checked + .tgl-btn::after {
    left: 50%;
}
