@import "themes";

.profile {
  @extend %menu-item;
  padding: 7px;
  box-sizing: border-box;
  width: 100%;
  min-height: 49px;
  border-width: 1px;
  border-bottom-style: solid;
  display: grid;
  grid-template-columns: 1fr 3fr;
  user-select: none;
}

.profile {
  > * {
    align-self: center;
    margin: auto;
  }

  input {
    @extend %text-input;
    border-radius: 6px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    box-shadow: none;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
  }
}

.placeholder {
  height: 49px;
}

.profile {
  label,
  .text {
    font-size: 14px;
    margin-left: 20px;
  }
}

.avatar {
  grid-template-columns: 1fr 1fr 2fr;
}

.hide-email {
  grid-template-columns: 1fr 2fr 1fr;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;

  img {
    width: 100%;
  }
}

#image {
  display: none;
}

.email {
  @extend %minor-text;
  font-size: 13px;
}

a {
  text-decoration: none;
}
