@use 'menus';

/******************
 *    Conversation
 ******************** */

.conversation {
  @extend %menu-item-clickable;
  height: 70px;
  position: relative;

  .user-img {
    margin-left: 15px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 5px;
  }

  .sender {
    position: absolute;
    margin-left: 85px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
  }

  .last-message {
    color: var(--minor-textcolor);
    position: absolute;
    margin-left: 85px;
    margin-top: 40px;
    font-size: 13px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;

    b {
      font-weight: 600;
    }
  }

  .status-badge {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  .last-time {
    margin-right: 10px;
    margin-top: 15px;
    float: right;
    height: 20px;
    overflow: hidden;
    color: #bbbbbb;
  }

  .dot {
    margin-left: -10px;
    margin-top: 2px;
    position: relative;
    float: left;
  }

  .at-dot {
    background-color: darkorange;
    top: 45px;
    left: -10px;
  }
}
