p {
  text-align: left;
  word-break: break-word;
  margin: 0;
  white-space: pre-wrap;

  &.emoji {
    font-size: 6em;
  }
}

:host-context(.left) p ::ng-deep .chat-inline-link {
  color: var(--left-a-color);
}

:host-context(.right) p ::ng-deep .chat-inline-link {
  color: white;
}
