@use 'sass:color';
@use 'default-dark';

//
// Dark Theme
//
$primary-color-depth1: #f8bbd0;
$primary-color-depth2: #f25d8e;
$primary-color-depth3: #cf4c78;

body.theme-sakura-dark {
  @extend %default-dark;
  --primary-color-depth1: #{$primary-color-depth1};
  --primary-color-depth2: #{$primary-color-depth2};
  --primary-color-depth3: #{$primary-color-depth3};
  --header-bg: linear-gradient(
    to bottom,
    #{$primary-color-depth3},
    #{color.adjust($primary-color-depth2, $alpha: -0.4)}
  );
}
