<app-header title="Change Password" [closeDirectly]="true"></app-header>
<form (ngSubmit)="onSubmit()" #changePwForm="ngForm">
    <div class="profile">
        <label>Old password</label>
        <input
            [(ngModel)]="oldPassword"
            name="oldPw"
            type="password"
            autocomplete="current-password"
            minlength="6"
            maxlength="32"
            required
        />
    </div>
    <div class="profile">
        <label>New password</label>
        <input
            [(ngModel)]="newPassword"
            name="newPw"
            type="password"
            autocomplete="new-password"
            minlength="6"
            maxlength="32"
            required
        />
    </div>
    <div class="profile">
        <label>Confirm password</label>
        <input
            [(ngModel)]="confirmPassword"
            name="confirmPw"
            type="password"
            autocomplete="new-password"
            minlength="6"
            maxlength="32"
            required
        />
    </div>
    <div class="buttons">
        <button class="button primary" type="submit" [disabled]="!changePwForm.valid">
            Update password
        </button>
    </div>
</form>
