@import "default-dark";

//
// Dark Theme
//
$primary-color-depth1: #83b6d3;
$primary-color-depth2: #18bbf9;
$primary-color-depth3: #18a4f9;

body.theme-dark {
  @extend %default-dark;
  --primary-color-depth1: #{$primary-color-depth1};
  --primary-color-depth2: #{$primary-color-depth2};
  --primary-color-depth3: #{$primary-color-depth3};
  --header-bg: linear-gradient(to bottom, #{$primary-color-depth3}, #{transparentize($primary-color-depth2, 0.4)});
}
