//
// Dark Theme
//
:host-context(.theme-dark) {
  $default-background: #2c3e50;
  $default-textcolor: #fff;
  $menuitem-bg: #2f3640;
  $menuitem-border-color: #353b48;
  $menuitem-hover-bg: #374554;
  $nav-bg: #2f3640;
  $nav-border-color: #34495e;
  $nav-color: #bbbbbb;
  $nav-item-hover-bg: #374554;
  $nav-item-hover-color: rgb(131, 182, 211);
  $nav-item-current-color: #18a4f9;
  $text-input-color: white;
  $text-input-border-color: #e2e2e4;
  $text-input-bg: #1e272e;
  $search-part-bg: #333;
  $search-part-tab-selected-bg: #57606f;
  $talking-chat-border-color: #718093;
  $talking-chat-color: white;
  $talking-chat-bg: #707e8a;
  $talking-action-bg: #2f3640;
  $tgl-btn-bg: #888;

  @import "shared";
}

%body.theme-dark {
  color: #fff;
  background-color: #2c3e50;
  a {
    color: #3498db;
  }

  .left .chat-inline-link {
    color: #74b9ff;
  }

  .swal2-popup {
    background-color: #2f3640;

    .swal2-content,
    .swal2-title {
      color: #fff;
    }
  }
}
