%default-dark {
  --default-background: #2c3e50;
  --default-textcolor: #fff;
  --default-foreground-20: #{transparentize(#fff, 0.8)};
  --default-foreground-40: #{transparentize(#fff, 0.6)};
  --minor-textcolor: #999;
  --selectable-bg: #2f3640;
  --selectable-hover-bg: #374554;
  --selectable-active-bg: #404a59;
  --selectable-border-color: #353b48;
  --talking-action-bg: #2f3640dd;
  --header-action-bg: #222;
  --text-input-border-color: #e2e2e4;
  --text-input-bg: #1e272e;
  --talking-chat-bg: #707e8a;
  --tgl-btn-bg: #888;
  --a-color: #3498db;
  --left-a-color: #74b9ff;
  --alert-bg: #2f3640;
}
