@import "default-light";

//
// Light Theme
//
$primary-color-depth1: #82d987;
$primary-color-depth2: #4ba950;
$primary-color-depth3: #409344;

body.theme-grass-light {
  @extend %default-light;
  --primary-color-depth1: #{$primary-color-depth1};
  --primary-color-depth2: #{$primary-color-depth2};
  --primary-color-depth3: #{$primary-color-depth3};
  --header-bg: linear-gradient(to bottom, #{$primary-color-depth3}, #{transparentize($primary-color-depth2, 0.4)});
}
