@use 'sass:color';
@use 'default-light';

//
// Light Theme
//
$primary-color-depth1: #83b6d3;
$primary-color-depth2: #38cbf0;
$primary-color-depth3: #18a4f9;

body.theme-light {
  @extend %default-light;
  --primary-color-depth1: #{$primary-color-depth1};
  --primary-color-depth2: #{$primary-color-depth2};
  --primary-color-depth3: #{$primary-color-depth3};
  --header-bg: linear-gradient(
    to bottom,
    #{$primary-color-depth3},
    #{color.adjust($primary-color-depth2, $alpha: -0.4)}
  );
}
