@import "shared";
//
// Light Theme
//
:host-context(.theme-sakura-light) {
  $colors: (
    default-background: #efeff4,
    default-textcolor: #333,
    load-more-button-bg: #e3e3e3,
    load-more-button-color: #aaaaaa,
    menuitem-bg: #fff,
    menuitem-border-color: #e8e8e8,
    menuitem-hover-bg: #f6f6f6,
    menuitem-img-color:#f25d8e,
    nav-bg: #fff,
    nav-border-color: #d6d6d6,
    nav-color: #bbbbbb,
    nav-item-hover-bg: #f8f8f8,
    nav-item-hover-color: #f8bbd0,
    nav-item-current-color: #f25d8e,
    text-input-color: #808080,
    text-input-border-color: #e2e2e4,
    text-input-bg: #fff,
    search-part-bg: #cac9cf,
    search-part-tab-selected-bg: #fff,
    talking-chat-border-color: #e4e4e4,
    talking-chat-color: grey,
    talking-chat-bg: white,
    talking-action-bg: #e4e4e4,
    tgl-btn-bg: #f0f0f0,
    header-bg: linear-gradient(to bottom, #f25d8e, #B33771),
    primary-btn-bg:#f25d8e,
    primary-btn-hover-bg:#B33771,
    primary-btn-active-bg:#B33771,
    talking-chat-right-bg:#B33771,
  );
  @include theme-shared($colors);
}

%body.theme-sakura-light {
  $colors: (
    text-color: #333,
    bg: #efeff4,
    a-color: #1e3799,
    left-a-color: #1e3799,
    alert-bg: #fff,
    btn-bg:#f25d8e,
  );

  @include body-shared($colors);
}
