@mixin theme-shared($colors) {
  %text {
    color: map-get($colors, default-textcolor);
  }

  %minor-text {
    color: map-get($colors, minor-textcolor);
  }

  %header {
    background: map-get($colors, header-bg);
  }

  %floating-home {
    border-color: map-get($colors, primary-color-depth3);
  }

  %menu-item {
    background-color: map-get($colors, selectable-bg);
    border-color: map-get($colors, selectable-border-color);

    .img {
      color: map-get($colors, primary-color-depth2);
    }

    &.w-current {
      background-color: map-get($colors, selectable-hover-bg) !important;
    }
  }

  %clickable {
    &:hover {
      background-color: map-get($colors, selectable-hover-bg);
    }
  }

  %menu-item-clickable {
    @extend %menu-item;
    @extend %clickable;
  }

  %friends-button {
    @extend %menu-item-clickable;
    color: map-get($colors, primary-color-depth2);
  }

  %menu-header {
    color: map-get($colors, primary-color-depth3);
  }

  %nav-bar {
    background-color: map-get($colors, selectable-bg);
    border-color: map-get($colors, selectable-border-color);

    .nav-item {
      color: map-get($colors, minor-textcolor);

      &:hover {
        background-color: map-get($colors, selectable-hover-bg);
        color: map-get($colors, primary-color-depth1);
      }

      &.current {
        color: map-get($colors, primary-color-depth2);
      }
    }
  }

  %text-input {
    border: 1px solid map-get($colors, text-input-border-color);
    color: map-get($colors, default-textcolor);
    background-color: map-get($colors, text-input-bg);
  }

  %search-part {
    background-color: map-get($colors, header-action-bg);

    &::after {
      background-color: map-get($colors, selectable-bg);
    }

    .search-type .selected {
      background-color: map-get($colors, selectable-bg);
    }
  }

  %message-list {
    background-color: map-get($colors, default-background);

    .load-more {
      background-color: map-get($colors, selectable-bg);
      color: map-get($colors, minor-textcolor);
    }

    .left .chat-content {
      border-color: map-get($colors, talking-chat-bg);
      color: map-get($colors, default-textcolor);
      background-color: map-get($colors, talking-chat-bg);

      &::after {
        border-right-color: map-get($colors, talking-chat-bg);
      }
    }

    .right .chat-content {
      background-color: map-get($colors, primary-color-depth3);

      &::after {
        border-left-color: map-get($colors, primary-color-depth3);
      }
    }
  }

  %sys-notify {
    background-color: transparentize(map-get($colors, primary-color-depth2), 0.2);
    color: map-get($colors, default-textcolor);
  }

  %chat-box {
    background-color: map-get($colors, talking-action-bg);

    .chat-part textarea {
      background-color: map-get($colors, text-input-bg);
      color: map-get($colors, default-textcolor);
    }

    .input-file {
      &:focus + label,
      + label:hover {
        background-color: map-get($colors, selectable-hover-bg);
      }
    }
  }

  //%talking-overlay {
  //  //due to the bug of chrome......
  //  //add the blur effect later
  //  //background-color: transparentize(map-get($colors,selectable-bg),0.8);
  //  //backdrop-filter: blur(30px);
  //  //-webkit-backdrop-filter: blur(30px);
  //  background-color: map_get($colors,selectable-bg);
  //}

  %tgl-btn {
    background-color: map-get($colors, tgl-btn-bg);
  }

  %primary-button {
    background-color: map-get($colors, primary-color-depth2);

    &:hover:enabled {
      background-color: map-get($colors, primary-color-depth3);
    }

    &:active {
      background-color: map-get($colors, primary-color-depth3);
    }
  }
}

@mixin body-shared($colors) {
  color: map-get($colors, text-color);
  background-color: map-get($colors, bg);
  a {
    color: map-get($colors, a-color);
  }

  .left .chat-inline-link {
    color: map-get($colors, left-a-color);
  }

  .swal2-popup {
    background-color: map-get($colors, alert-bg);

    .swal2-content,
    .swal2-title {
      color: map-get($colors, text-color);

      progress {
        width: 100%;
        height: 5px;
      }
    }

    .swal2-styled.swal2-confirm {
      background-color: map-get($colors, btn-bg);
    }

    .swal2-select {
      background-color: map-get($colors, alert-bg) !important;
      color: map-get($colors, text-color) !important;
    }

  }
}
