//
// Dark Theme
//
$primary-color-depth1: #D980FA;
$primary-color-depth2: #8e44ad;
$primary-color-depth3: #5F4B8B;

body.theme-violet-dark {
  --default-background: #2c3e50;
  --primary-color-depth1: #{$primary-color-depth1};
  --primary-color-depth2: #{$primary-color-depth2};
  --primary-color-depth3: #{$primary-color-depth3};
  --default-textcolor: #fff;
  --minor-textcolor: #999;
  --selectable-bg: #2f3640;
  --selectable-hover-bg: #374554;
  --selectable-border-color: #353b48;
  --talking-action-bg: #2f3640;
  --header-action-bg: #222;
  --text-input-border-color: #e2e2e4;
  --text-input-bg: #1e272e;
  --talking-chat-bg: #707e8a;
  --tgl-btn-bg: #888;
  --header-bg: linear-gradient(to bottom, #{$primary-color-depth3}, #{$primary-color-depth2});
  --a-color: #3498db;
  --left-a-color: #74b9ff;
  --alert-bg: #2f3640;
}
