<a target="_blank" rel="noopener noreferrer" href="{{ content().url | storageUrl }}">
    <div
        class="image-container"
        [style]="{
            '--image-width': content().width + 'px',
            '--image-height': content().height + 'px',
        }"
    >
        <img
            src="{{ content().url | storageUrl }}"
            srcset="{{ content().url | storageUrl }}&w={{ maxWidth }},
        {{content().url | storageUrl}}&w={{ maxWidth }} 2x"
        />
    </div>
</a>
<app-file-sharing-buttons [content]="content()"></app-file-sharing-buttons>
