<app-header title="About" i18n-title="@@About" returnButton="true" RouterLink="/"></app-header>

<div class="big-logo">
    <img src="assets/144x144.png">
</div>

<div class="version">
    <h4>Kahla {{checkService.version}}</h4>
    <p>Last git commit: <a href="{{sourceCodeURL}}{{checkService.revision}}" target="_blank" rel="noopener noreferrer"><kbd>{{checkService.revision.substring(0, 7)}}</kbd></a></p>
    <p>Build Date: <kbd>{{checkService.buildTime}}</kbd></p>
</div>

<div class="menu-holder"></div>

<div *ngIf="checkService.checking; then checkingButton else checkButton"></div>
<ng-template #checkButton>
    <div class="menu-button" (click)="check()">
        <div class="img">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="text" i18n="@@CheckForUpdates">Check for updates</div>
    </div>
</ng-template>
<ng-template #checkingButton>
    <div class="menu-button">
        <div class="img">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="text" i18n="@@CheckingForUpdates">Checking for updates...</div>
    </div>
</ng-template>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-book"></i>
    </div>
    <div class="text" i18n="@@UpdateHistory">Update history</div>
</div>
<a class="menu-button" href="//www.kahla.app">
	<div class="img">
        <i class="fa fa-download"></i>
	</div>
    <div class="text">Download Kahla App</div>
</a>
<div class="foot-text">
    <a href="https://www.aiursoft.com/docs/terms" target="_blank" rel="noopener noreferrer">Terms</a>
    |
    <a href="https://www.aiursoft.com/docs/terms" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    <p>Copyright &copy; 2018 Aiursoft Corporation</p>
</div>
