<app-header title="About" closeDirectly="true"></app-header>

<div class="big-logo">
    <img src="assets/144x144.png">
</div>

<div class="version">
    <h4>Kahla {{checkService.version}}</h4>
    <p>Last git commit: <a href="{{sourceCodeURL}}{{checkService.revision}}" target="_blank" rel="noopener noreferrer"><kbd>{{checkService.revision.substring(0, 7)}}</kbd></a></p>
    <p>Build Date: <kbd>{{checkService.buildTime}}</kbd></p>
</div>

<div class="menu-holder"></div>

<div *ngIf="checkService.checking; then checkingButton else checkButton"></div>
<ng-template #checkButton>
    <div class="menu-button" (click)="check()">
        <div class="img">
            <i class="fas fa-sync"></i>
        </div>
        <div class="text" i18n="@@CheckForUpdates">Check for updates</div>
    </div>
</ng-template>
<ng-template #checkingButton>
    <div class="menu-button">
        <div class="img">
            <i class="fas fa-sync fa-spin"></i>
        </div>
        <div class="text" i18n="@@CheckingForUpdates">Checking for updates...</div>
    </div>
</ng-template>
<div class="menu-button" (click)="checkService.updateServiceWorkerCache()" *ngIf="checkService.checkSwCache()">
    <div class="img">
        <i class="fas fa-redo"></i>
    </div>
    <div class="text" i18n="@@CheckForUpdates">Force Upgrade Manually</div>
</div>
<a class="menu-button" href="https://github.com/AiursoftWeb/Kahla.App/tags" target="_blank" rel="noopener noreferrer">
    <div class="img">
        <i class="fas fa-book"></i>
    </div>
    <div class="text" i18n="@@UpdateHistory">Update history</div>
</a>
<a class="menu-button" href="https://www.kahla.app" target="_blank" rel="noopener noreferrer" >
	<div class="img">
        <i class="fas fa-download" [class.fa-download]="!electronService.isElectronApp"
           [class.fa-info-circle]="electronService.isElectronApp"></i>
	</div>
    <div class="text">{{electronService.isElectronApp ? 'Open Kahla official site' : 'Download Kahla App'}}</div>
</a>
<div class="foot-text">
    <p>Server connected: {{apiService.serverConfig.serverName}} ({{apiService.serverConfig.domain.server}})</p>
    <p *ngIf="apiService.serverConfig.officialServer">An aiursoft official server.</p>
    <p *ngIf="!apiService.serverConfig.officialServer">A community server.</p>
    <p>
        <a href="https://www.aiursoft.com/docs/terms" target="_blank" rel="noopener noreferrer">Terms</a>
        |
        <a href="https://www.aiursoft.com/docs/terms" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        |
        <a href="https://github.com/AiursoftWeb/Kahla.App/issues/new/choose" target="_blank" rel="noopener noreferrer">Feedback</a>
    </p>
    <p>Copyright &copy; {{getCurrentYear()}} Aiursoft Corporation</p>
</div>
