<app-header title="Advanced Settings" closeDirectly="true" [processing]="updatingSetting"></app-header>
<div class="menu-header">
    General
</div>
<div class="menu-button" (click)="todo()">
    <div class="img">
        <i class="fas fa-language"></i>
    </div>
    <div class="text" i18n="@@Language">Language</div>
</div>
<div class="menu-button notification"
     (click)="this.me.enableEnterToSendMessage = !this.me.enableEnterToSendMessage; updateSettings()" *ngIf="this.me">
    <div class="img">
        <i class="fas fa-exchange-alt"></i>
    </div>
    <div class="text" i18n="@@Notification">Use Enter to send message</div>
    <input id="toggleEnter" class="tgl" type="checkbox" [checked]="me.enableEnterToSendMessage" disabled="disabled"/>
    <label for="toggleEnter" class="tgl-btn"></label>
</div>
<div class="menu-hint">
    You can still insert a line break with Ctrl+Enter if you enable it.
</div>
<div class="menu-header">
    Privacy
</div>
<div class="menu-button notification" (click)="this.me.markEmailPublic = !this.me.markEmailPublic; updateSettings()"
     *ngIf="this.me">
    <div class="img">
        <i class="fas fa-envelope"></i>
    </div>
    <div class="text" i18n="@@Notification">Make my email public</div>
    <input id="toggleEmail" class="tgl" type="checkbox" [checked]="this.me.markEmailPublic" disabled="disabled"/>
    <label for="toggleEmail" class="tgl-btn"></label>
</div>
<div class="menu-button notification" (click)="this.me.enableInvisiable = !this.me.enableInvisiable; updateSettings()"
     *ngIf="this.me">
    <div class="img">
        <i class="fas fa-plug"></i>
    </div>
    <div class="text" i18n="@@Notification">Always offline</div>
    <input id="toggleInvisible" class="tgl" type="checkbox" [checked]="me.enableInvisiable" disabled="disabled"/>
    <label for="toggleInvisible" class="tgl-btn"></label>
</div>
<div class="menu-header">
    Notification
</div>
<div class="menu-button notification"
     (click)="this.me.enableEmailNotification = !this.me.enableEmailNotification; updateSettings()"
     *ngIf="this.me && me.emailConfirmed">
    <div class="img">
        <i class="fas fa-envelope"></i>
    </div>
    <div class="text" i18n="@@Notification">Email Notification</div>
    <input id="toggleMute" class="tgl" type="checkbox" [checked]="me.enableEmailNotification" disabled="disabled"/>
    <label for="toggleMute" class="tgl-btn"></label>
</div>
<div class="menu-button" routerLink="/devices">
    <div class="img">
        <i class="fas fa-laptop" aria-hidden="true"></i>
    </div>
    <div class="text">My Devices</div>
</div>
<div class="menu-button" (click)="testPush()">
    <div class="img">
        <i class="fas fa-flask" aria-hidden="true"></i>
    </div>
    <div class="text">Send Test Notification</div>
</div>
<div class="menu-header">
    Account
</div>
<div class="menu-button" routerLink="/changepassword">
    <div class="img">
        <i class="fas fa-lock" aria-hidden="true"></i>
    </div>
    <div class="text">Change Password</div>
</div>
<a class="menu-button" href="https://account.aiursoft.com/Account/Email" target="_blank">
    <div class="img">
        <i class="fas fa-envelope" aria-hidden="true"></i>
    </div>
    <div class="text">Advanced Email Settings</div>
</a>
<a class="menu-button" href="https://account.aiursoft.com/Account" target="_blank">
    <div class="img">
        <i class="fas fa-cogs" aria-hidden="true"></i>
    </div>
    <div class="text">Advanced Account Settings</div>
</a>
