<app-header title="Advanced Settings" returnButton="true" RouterLink="/"></app-header>
<div class="menu-header">
    <i class="fa fa-cog"></i>
    General
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-language"></i>
    </div>
    <div class="text" i18n="@@Language">Language</div>
</div>
<div class="menu-header">
    <i class="fa fa-bell"></i>
    Notification
</div>
<div class="menu-button notification" (click)="updateEmailNotify()" *ngIf="this.me">
        <div class="img">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="text" i18n="@@Notification">Email Notification</div>
        <input id="toggleMute" class="tgl" type="checkbox" [checked]="me.enableEmailNotification" />
        <label for="toggleMute" class="tgl-btn"></label>
    </div>
<div class="menu-button" routerLink="/devices">
    <div class="img">
        <i class="fa fa-laptop" aria-hidden="true"></i>
    </div>
    <div class="text">Devices</div>
</div>
<div class="menu-header">
    <i class="fa fa-lock"></i>
    Security
</div>
<div class="menu-button" routerLink="/changepassword">
    <div class="img">
        <i class="fa fa-key" aria-hidden="true"></i>
    </div>
    <div class="text">Change Password</div>
</div>