<app-header title="Advanced Settings" closeDirectly="true" [processing]="!!updatingSetting"></app-header>
<div class="menu-header">
    General
</div>
<div class="menu-button" (click)="todo()">
    <div class="img">
        <i class="fas fa-language"></i>
    </div>
    <div class="text" i18n="@@Language">Language</div>
</div>
<div class="menu-button toggle-setting"
     (click)="this.options.enableEnterToSendMessage = !this.options.enableEnterToSendMessage; updateSettings()" *ngIf="this.options">
    <div class="img">
        <i class="fas fa-exchange-alt"></i>
    </div>
    <div class="text" i18n="@@Notification">Use Enter to send message</div>
    <input id="toggleEnter" class="tgl" type="checkbox" [checked]="this.options.enableEnterToSendMessage" disabled="disabled"/>
    <label for="toggleEnter" class="tgl-btn"></label>
</div>
<div class="menu-hint">
    You can still insert a line break with Ctrl+Enter if you enable it.
</div>
<div class="menu-header">
    Privacy
</div>
<div class="menu-button toggle-setting" (click)="this.options.enableHideMyOnlineStatus = !this.options.enableHideMyOnlineStatus; updateSettings()"
     *ngIf="this.options">
    <div class="img">
        <i class="fas fa-plug"></i>
    </div>
    <div class="text" i18n="@@Notification">Show my online status</div>
    <input id="toggleInvisible" class="tgl" type="checkbox" [checked]="!this.options.enableHideMyOnlineStatus" disabled="disabled"/>
    <label for="toggleInvisible" class="tgl-btn"></label>
</div>
<div class="menu-button toggle-setting"
     (click)="this.options.listInSearchResult = !this.options.listInSearchResult; updateSettings()"
     *ngIf="this.me">
    <div class="img">
        <i class="fas fa-stream"></i>
    </div>
    <div class="text" i18n="@@Notification">List me in search result</div>
    <input id="toggleList" class="tgl" type="checkbox" [checked]="this.options.listInSearchResult" disabled="disabled"/>
    <label for="toggleList" class="tgl-btn"></label>
</div>
<div class="menu-header">
    Notification
</div>
<div class="menu-button toggle-setting"
     (click)="this.options.enableEmailNotification = !this.options.enableEmailNotification; updateSettings()"
     *ngIf="this.me && me.emailConfirmed && this.options">
    <div class="img">
        <i class="fas fa-envelope"></i>
    </div>
    <div class="text" i18n="@@Notification">Email notification</div>
    <input id="toggleMute" class="tgl" type="checkbox" [checked]="this.options.enableEmailNotification" disabled="disabled"/>
    <label for="toggleMute" class="tgl-btn"></label>
</div>
<div class="menu-button" routerLink="/devices">
    <div class="img">
        <i class="far fa-bell" aria-hidden="true"></i>
    </div>
    <div class="text">Push notification settings</div>
</div>
<div class="menu-header">
    Account
</div>
<div class="menu-button" routerLink="/changepassword">
    <div class="img">
        <i class="fas fa-lock" aria-hidden="true"></i>
    </div>
    <div class="text">Change password</div>
</div>
