<div class="header-alert" *ngIf="initService.connecting"
     [ngClass]="{ 'macOS-electron-alert': _electronService.isElectronApp && _electronService.isMacOS }">
    <div class="words" i18n="@@Disconnectedfromserver">
        <i class="fa fa-refresh fa-spin"></i>
        Connecting...
    </div>
</div>
<div id="homeWrapper" class="floating-home-wrapper"
     *ngIf="!route.isActive('/home', false) && homeService.wideScreenEnabled">
    <app-home></app-home>
</div>
<div id="contentWrapper" class="content-wrapper"
     [class.in-widescreen]="!route.isActive('/home', false) && homeService.wideScreenEnabled">
    <router-outlet></router-outlet>
</div>

