@for (contact of contacts?.data ?? contactsList; track contact.user.id) {
    <div
        class="contact-list" [class.multiple]="selectable()"
        (click)="userClick(contact, $event.ctrlKey)"
        routerLink="/user/{{ contact.user.id }}"
    >
        <div class="user-img-group">
            <img
                class="user-img"
                src="{{ contact.user.iconFilePath | storageUrl }}?w=128&square=true"
                (click)="$event.stopPropagation(); userClick(contact, true)"
            />
            <div
                class="small-dot"
                *ngIf="contact.online !== null"
                [class.greendot]="contact.online"
                [class.graydot]="!contact.online"
            ></div>
        </div>
        <div class="user-name">{{ contact.user.nickName }}</div>
        @if (selectable() && selectedIds().includes(contact.user.id)) {
            <i class="fas fa-check"></i>
        }
    </div>
}
@if (
    (contacts && contacts.total === 0 && contacts.status === 'synced') ||
    (!contacts && !contactsList)
) {
    <div class="empty-result-notice">{{ this.emptyMessage }}</div>
}

<!-- <div *ngIf="results.users.length !== 0" class="empty-result-notice">Hold <span
    class="badge badge-secondary">Ctrl</span> to start talking directly.
</div> -->
<!-- <div *ngIf="contacts.data.length === 1" class="empty-result-notice">
    Press <span class="badge badge-secondary">Enter</span> to talk.
</div> -->
@if (contacts?.canLoadMore) {
    <div class="buttons">
        @if (contacts.status === 'synced') {
            <button class="button primary" (click)="contacts.loadMore(20)">Load More</button>
        } @else if (contacts.status === 'loading') {
            <button class="button primary" disabled>Loading</button>
        }
    </div>
}
