<app-header title="Create Group" i18n-title="@@CreateGroup" returnButton="true"></app-header>

<div class="search-part">
    <input name="groupName" [(ngModel)]="groupName" placeholder="Enter group name" type="text" #groupNameInput="ngModel" required minlength="3" maxlength="25"/>
    <div class="buttons">
        <button class="button primary" (click)="createGroup(false)">Public Group</button>
    </div>
    <div class="buttons">
        <button class="button primary" (click)="createGroup(true)">Private Group</button>
    </div>
</div>