<app-header title="Push Notification Settings"></app-header>
<div class="menu-header">Status & Settings</div>
<ng-container *ngIf="webpushSupported()">
    <div class="menu-button toggle-setting" (click)="setWebPushStatus(!webPushEnabled())">
        <div class="img"><i class="far fa-bell"></i></div>
        <div class="text">Enable web push notification</div>
        <input id="toggleWebpush" class="tgl" type="checkbox" disabled="disabled" [checked]="webPushEnabled()"/>
        <label for="toggleWebpush" class="tgl-btn"></label>
    </div>
</ng-container>
<ng-container *ngIf="browserContext.isElectron()">
    <div class="menu-button toggle-setting" (click)="setElectronNotify(!getElectronNotify())">
        <div class="img"><i class="fas fa-concierge-bell"></i></div>
        <div class="text">Enable desktop notification</div>
        <input id="toggleElectron" class="tgl" type="checkbox" disabled="disabled" [checked]="getElectronNotify()"/>
        <label for="toggleElectron" class="tgl-btn"></label>
    </div>
</ng-container>
<div class="menu-button" (click)="testPush()">
    <div class="img">
        <i class="fas fa-flask" aria-hidden="true"></i>
    </div>
    <div class="text">Send test notification</div>
</div>
<ng-container *ngIf="!browserContext.supportNotification()">
    <div class="menu-hint">Sorry, but your platform doesn't support receiving notifications.</div>
</ng-container>
<div class="menu-header">My web devices</div>
<div class="menu-button device-menu-button" *ngFor="let device of devices"
     (click)="detail(device)">
    <div class="img device-img">
        <i *ngIf="device.osName.includes('Windows')" class="fab fa-windows" aria-hidden="true"></i>
        <i *ngIf="device.osName.includes('macOS') || device.osName.includes('iOS')" class="fab fa-apple"
           aria-hidden="true"></i>
        <i *ngIf="device.osName.includes('Android')" class="fab fa-android" aria-hidden="true"></i>
        <i *ngIf="device.osName.includes('Linux')" class="fab fa-linux" aria-hidden="true"></i>
    </div>
    <div class="text device-text">
        {{ device.osName }}
        <label *ngIf="device.isCurrent">(Current)</label>
    </div>

    <div class="img device-img">
        <i *ngIf="device.browserName.includes('Firefox')" class="fab fa-firefox" aria-hidden="true"></i>
        <i *ngIf="(device.browserName.includes('Chromium') && !device.browserName.includes('Edge')) || device.browserName.includes('Chrome')"
           class="fab fa-chrome"
           aria-hidden="true"></i>
        <i *ngIf="device.browserName.includes('Safari')" class="fab fa-safari" aria-hidden="true"></i>
        <i *ngIf="device.browserName.includes('Opera')" class="fab fa-opera" aria-hidden="true"></i>
        <i *ngIf="device.browserName.includes('Internet Explorer')" class="fab fa-internet-explorer" aria-hidden="true"></i>
        <i *ngIf="device.browserName.includes('Edge')" class="fab fa-edge" aria-hidden="true"></i>
    </div>
    <div class="text device-text">{{ device.browserName }}</div>
    <div class="text device-text">{{ device.remoteDevice.addTime | date:'mediumDate' }}</div>
</div>
