<app-header title="Discover" i18n-title="@@Discover"></app-header>
<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-lightbulb-o"></i>
    </div>
    <div class="text" i18n="@@FriendSuggestion">Friend Suggestion</div>
</div>
<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-map-marker"></i>
    </div>
    <div class="text" i18n="@@PeopleNearby">People Nearby</div>
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-location-arrow"></i>
    </div>
    <div class="text" i18n="@@CityGroup">City Group</div>
</div>
<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-paper-plane"></i>
    </div>
    <div class="text" i18n="@@Community">Community</div>
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-hashtag"></i>
    </div>
    <div class="text" i18n="@@OpenGroup">Open Group</div>
</div>
<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="text" i18n="@@KahlaUniversity">Kahla University</div>
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-comments-o "></i>
    </div>
    <div class="text" i18n="@@Feedback">Feedback</div>
</div>
<app-nav></app-nav>