<app-header
    title="Friends"
    [returnButton]="false"
    [processing]="contactsRepo?.status === 'loading'"
></app-header>

<div class="search-part">
    <div class="friends-header" id="main">
        <a class="friends-button" routerLink="/addfriend">
            <div class="icon">
                <i class="fas fa-user-plus"></i>
            </div>
            <div class="words" i18n="@@GlobalSearch">Add New</div>
        </a>
        <a class="friends-button" routerLink="/new-thread">
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="words" i18n="@@CreateGroup">Create Group</div>
        </a>
        <a class="friends-button" routerLink="/blocks">
            <div class="icon">
                <i class="fas fa-ban"></i>
            </div>
            <div class="words" i18n="@@CreateGroup">Blocked Users</div>
        </a>
    </div>
    <app-search-area
        [(searchText)]="searchTxt"
        placeHolder="Search for your contacts and groups..."
    ></app-search-area>
    <app-search-type
        [items]="[
            {
                title: 'Contacts',
                className: 'fas fa-user',
                showDot: false,
            },
            {
                title: 'Groups',
                className: 'fas fa-users',
                showDot: false,
            },
        ]"
    />
</div>
<div class="header-space"></div>
<app-contact-list
    *ngIf="showUsers && contactsRepo"
    [contacts]="contactsRepo"
    (contactClicked)="userClick($event.item, $event.secondary)"
    emptyMessage="No contacts. Try adding someone first. 🍵"
/>
<div *ngIf="!showUsers && this.contactsRepo">
</div>
