<app-header title="Friends" [returnButton]="false"></app-header>

<div class="search-part">
    <div class="friends-header" id="main">
        <a class="friends-button" routerLink="/addfriend">
            <div class="icon">
                <i class="fas fa-user-plus"></i>
            </div>
            <div class="words" i18n="@@GlobalSearch">Add New</div>
        </a>
        <a class="friends-button" routerLink="/discover">
            <div class="icon">
                <i class="fas fa fa-magic"></i>
            </div>
            <div class="words" i18n="@@Discover">Discover Friends</div>
        </a>
        <a class="friends-button" (click)="createGroup()">
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="words" i18n="@@CreateGroup">Create Group</div>
        </a>
    </div>
    <app-search-area [(searchText)]="searchTxt" placeHolder="Search for your contacts and groups..."></app-search-area>
    <app-search-type [items]="[
        {
            title: 'Contacts',
            className: 'fas fa-user',
            showDot: false,
        },
        {
            title: 'Groups',
            className: 'fas fa-users',
            showDot: false,
        }
    ]"/>
</div>
<div class="header-space"></div>
<app-contact-list *ngIf="showUsers && contactsRepo" [contacts]="contactsRepo"
    (contactClicked)="userClick($event.item, $event.secondary)"
    emptyMessage="No contacts. Try adding someone first. 🍵" />
<div *ngIf="!showUsers && this.contactsRepo">
    <!-- <div class="result" *ngFor="let group of results.groups" (click)="groupClick(group, $event.ctrlKey)">
        <div class="user-img-group">
            <img class="user-img" src="{{group.avatarURL ? group.avatarURL : loadingImgURL}}?w=128&square=true"
                 routerLink="/group/{{group.id}}" (click)="$event.stopPropagation();"/>
        </div>
        <div class="sender">
            {{group.name}}
        </div>
    </div>-->
    <!-- <div *ngIf="results.groups.length === 0" class="empty-result-notice">No result.</div> -->
    <!-- <div *ngIf="results.groups.length !== 0" class="empty-result-notice">Hold <span
        class="badge badge-secondary">Ctrl</span> to start talking directly.
    </div> -->
    <!-- <div *ngIf="results.groups.length === 1" class="empty-result-notice">Press <span
        class="badge badge-secondary">Enter</span> to talk.
    </div>  -->
</div>