<app-header title="Group Info" i18n-title="@@GroupInfo" returnButton="true"></app-header>
<div *ngIf="conversation" class="user">
    <img class="user-img" src="{{conversation.displayImage}}?w=100&h=100">
    <div class="name">
        {{conversation.displayName}}
    </div>
    <div class="create-time">
        Create Time: {{conversation.conversationCreateTime | date:'mediumDate':timezoneOffset}}
    </div>
</div>

<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-history"></i>
    </div>
    <div class="text" i18n="@@FileHistory">File History</div>
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-gavel "></i>
    </div>
    <div class="text" i18n="@@Report">Report</div>
</div>

<div class="buttons">
    <button class="warning" (click)="leaveGroup(conversation.displayName)" i18n="@@LeaveGroup">Leave Group</button>
</div>