<app-header title="Group Info" i18n-title="@@GroupInfo" returnButton="true"></app-header>
<div *ngIf="conversation" class="user">
    <a class="user-img groupGridRow" href="{{conversation.avatarURL ? conversation.avatarURL : loadingImgURL}}" target="_blank" rel="noopener noreferrer">
        <img class="user-img groupGridRow" src="{{conversation.avatarURL ? conversation.avatarURL : loadingImgURL}}?w=100&h=100">
    </a>
    <div class="name">
        {{conversation.displayName}}
    </div>
    <div class="create-time">
        Create Time: {{conversation.conversationCreateTime | date:'mediumDate'}}
    </div>
</div>

<div class="menu-holder"></div>
<div class="menu-button" *ngIf="conversation && conversation.ownerId == messageService.me.id" (click)="timerService.setTimer(conversation.id)">
    <div class="img">
        <i class="fa fa-clock-o"></i>
    </div>
    <div class="text">Self-destruct Timer</div>
</div>
<div class="menu-button" routerLink="/talking/{{ conversation ? conversation.id : 0 }}">
    <div class="img">
        <i class="fa fa-comments"></i>
    </div>
    <div class="text" i18n="@@Message">Message</div>
</div>
<div class="menu-button notification" (click)="mute()">
    <div class="img">
        <i *ngIf="muted" class="fa fa-bell-slash"></i>
        <i *ngIf="!muted" class="fa fa-bell"></i>
    </div>
    <div class="text" i18n="@@Notification">Notification</div>
    <input id="toggleMute" class="tgl" type="checkbox" [checked]="!muted" (click)="mute()"/>
    <label for="toggleMute" class="tgl-btn"></label>
</div>
<div class="menu-button" *ngIf="messageService.me && conversation && conversation.ownerId == messageService.me.id" (click)="transferOwner()">
    <div class="img">
        <i class="fa fa-exchange"></i>
    </div>
    <div class="text">Transfer Owner</div>
</div>
<div class="menu-holder"></div>
<div *ngIf="conversation">
    <div class="menu-button">
        <div class="img">
            <i class="fa fa-users"></i>
        </div>
        <div class="text" i18n="@@GroupMembers">{{ groupMembers }} members</div>
    </div>
    <div class="menu-button" *ngFor="let e of conversation.users" routerLink="/user/{{ e.userId }}">
        <img class="img" src="{{e.user.avatarURL ? e.user.avatarURL : loadingImgURL}}?w=72&h=72">
        <div class="text">
            {{e.user.nickName}}
        </div>
        <label class="badge badge-primary" *ngIf="conversation.ownerId == e.userId">Owner</label>
    </div>
</div>
<div class="menu-holder"></div>
<div class="menu-button" (click)="leaveGroup(conversation.displayName)">
    <div class="img">
        <i class="fa fa-sign-out warning"></i>
    </div>
    <div class="text warning" i18n="@@LeaveGroup">Leave Group</div>
</div>
<div class="menu-holder"></div>
