<app-header title="Groups" i18n-title="@@Groups"></app-header>

<div class="friends-header" id="main">
    <a class="friends-button" routerLink="/">
        <div class="icon">
            <i class="fa fa-user-plus"></i>
        </div>
        <div class="words" i18n="@@SearchGroup">
            Search Group
        </div>
    </a>
    <a class="friends-button" routerLink="/kahla/create-group">
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="words" i18n="@@CreateGroup">
            Create Group
        </div>
    </a>
</div>
<app-nav></app-nav>