<div class="header" [ngClass]="{'shadow': headerService.shadow, 'showTimer': headerService.timer }">
    <div class="returnButton headerButton" *ngIf="headerService.returnButton" (click)="goBack()" [ngClass]="{ 'macOSReturnButton': macOSElectron }">
        <i class="fa fa-caret-left"></i>
    </div>
    <div *ngIf="!headerService.returnButton"></div>
    <div class="text">{{headerService.title}}</div>
    <div *ngIf="headerService.timer && messageService.conversation" class="user-button headerButton" (click)="timerService.setTimer(messageService.conversation.id)">
        <i class="fa fa-clock-o"></i>
        <div class="dot reddot">
            {{timerService.destructTime}}
        </div>
    </div>
    <div *ngIf="headerService.button" class="user-button headerButton" routerLink="{{headerService.routerLink}}">
        <i class="fa fa-{{headerService.buttonIcon}}"></i>
    </div>
</div>

<div class="header-holder"></div>
