<div class="header" [ngClass]="{'shadow': shadow, 'showTimer': timer, 'macOSHeader': _electronService.isElectronApp && _electronService.isMacOS }">
    <div class="returnButton headerButton" *ngIf="returnButton" (click)="goBack()"
         [ngClass]="{ 'macOSReturnButton': _electronService.isElectronApp && _electronService.isMacOS }">
        <i *ngIf="this.homeService.wideScreenEnabled && this.closeDirectly" class="fas fa-times"></i>
        <i *ngIf="!(this.homeService.wideScreenEnabled && this.closeDirectly)" class="fas fa-caret-left"></i>
    </div>
    <div *ngIf="timer"></div>
    <div *ngIf="!returnButton"></div>
    <div class="text">
        <div class="processing" [class.processing-open]="processing">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
        {{title}}
    </div>
    <div *ngIf="timer && messageService.conversation" class="user-button headerButton"
         (click)="(messageService.checkOwner()) && timerService.setTimer(messageService.conversation.id)">
        <i class="far fa-clock"></i>
        <div class="dot reddot">
            {{timerService.destructTime}}
        </div>
    </div>
    <div *ngIf="button" class="user-button headerButton" (click)="linkClicked()">
        <i class="fas fa-{{buttonIcon}}"></i>
    </div>
</div>

<div class="header-holder" [ngClass]="{ 'macOSHeader': _electronService.isElectronApp && _electronService.isMacOS }"></div>

<div class="header-alert" [class.in-widescreen]="homeService.wideScreenEnabled"
    *ngIf="(((!this.closeDirectly && !this.returnButton) || !homeService.wideScreenEnabled) && initService.connecting)">
    <div class="words" i18n="@@Disconnectedfromserver">
        <i class="fas fa-spinner fa-spin"></i>
        Connecting...
    </div>
</div>

<div class="header-alert" [class.in-widescreen]="homeService.wideScreenEnabled" (click)="initService.fireNetworkAlert()"
     *ngIf="(((!this.closeDirectly && !this.returnButton) || !homeService.wideScreenEnabled) && (!initService.online && !initService.connecting))">
    <div class="words" i18n="@@Disconnectedfromserver">
        <i class="fas fa-cloud"></i>
        Disconnected
    </div>
</div>
