<app-header title="Local Search" closeDirectly="true"></app-header>
<div class="search-part" [class.search-holder]="results">
    <div class="search-input">
        <input id="searchBar" placeholder="Search for your friends and groups" type="text" #searchBar
               (input)="search(searchBar.value)"/>
    </div>
    <div class="search-type" *ngIf="results">
        <div (click)="showUsersResults(true)" [ngClass]="{ 'selected': showUsers }">
            <span><i class="fa fa-user"></i>
                Users
            </span>
        </div>
        <div (click)="showUsersResults(false)" [ngClass]="{ 'selected': !showUsers }">
            <span><i class="fa fa-users"></i>
                Groups
            </span>
        </div>
    </div>
</div>
<div class="search-holder"></div>

<div *ngIf="showUsers && results && results.users">
    <div class="result" *ngFor="let user of results.users" routerLink="/user/{{ user.id }}">
        <img class="user-img" src="{{user.avatarURL ? user.avatarURL : loadingImgURL}}?w=80&h=80" />
        <div class="sender">
            {{user.nickName}}
        </div>
    </div>
    <div *ngIf="results.users.length === 0" class="empty-result-notice">No results. Check your spelling or try different keywords.</div>
</div>

<div *ngIf="!showUsers && results && results.groups">
    <div class="result" *ngFor="let group of results.groups" routerLink="/group/{{ group.id }}">
        <div class="searchGroupImage">
            <img class="user-img" src="{{group.avatarURL ? group.avatarURL : loadingImgURL}}?w=80&h=80" />
            <i class="fa fa-lock" aria-hidden="true" *ngIf="group.hasPassword"></i>
        </div>
        <div class="sender">
            {{group.name}}
        </div>
    </div>
    <div *ngIf="results.groups.length === 0" class="empty-result-notice">No results. Check your spelling or try different keywords.</div>
</div>
