<app-header title="Manage Group"></app-header>

<div *ngIf="conversation && messageService.checkOwner()">
    <div class="menu-header">Information</div>
    <div class="profile avatar">
        <label>Group Avatar</label>
        <a class="user-img" href="{{ conversation.avatarURL }}" target="_blank">
            <img class="user-img" src="{{ conversation.avatarURL }}?w=256&square=true" />
        </a>
        <label id="upload" class="button primary inputButton" for="image">Upload new avatar</label>
        <input
            type="file"
            name="image"
            id="image"
            #imageInput
            (change)="uploadAvatar()"
            accept="image/png, image/jpeg, image/bmp"
        />
    </div>
    <div class="profile">
        <label>Group Name</label>
        <input
            [(ngModel)]="newGroupName"
            placeholder="Enter the group name"
            type="text"
            (keyup.enter)="saveInfo()"
        />
    </div>
    <div
        class="menu-button toggle-setting"
        (click)="conversation.listInSearchResult = !conversation.listInSearchResult"
    >
        <div class="img">
            <i class="fas fa-stream"></i>
        </div>
        <div class="text" i18n="@@Notification">List this group in the search result</div>
        <input
            id="toggleListGroup"
            class="tgl"
            type="checkbox"
            disabled="disabled"
            [ngModel]="conversation.listInSearchResult"
        />
        <label for="toggleListGroup" class="tgl-btn"></label>
    </div>
    <div class="buttons">
        <button id="save" class="button primary" (click)="saveInfo()" i18n="@@save">Save</button>
    </div>
    <div class="menu-header">Member Management</div>
    <div class="menu-button" (click)="kickMember()">
        <div class="img">
            <i class="fas fa-user-times"></i>
        </div>
        <div class="text">Kick member</div>
    </div>
    <div class="menu-header">Security</div>
    <div class="menu-button" (click)="changePasswd()">
        <div class="img">
            <i class="fas fa-lock"></i>
        </div>
        <div class="text">Change Join Password</div>
    </div>
    <div class="menu-header text-warning">Danger Zone</div>
    <div class="menu-button" (click)="transferOwner()">
        <div class="img text-warning">
            <i class="fas fa-exchange-alt"></i>
        </div>
        <div class="text text-warning">Transfer Owner</div>
    </div>
    <div class="menu-button" (click)="dissolveGroup()">
        <div class="img text-warning">
            <i class="fas fa-trash"></i>
        </div>
        <div class="text text-warning">Dissolve Group</div>
    </div>
</div>
<div *ngIf="conversation && !messageService.checkOwner()">
    You don't have the permission to manage the group.
</div>
