<ul class="message-list">
    @for (message of messages(); track message.id; let first = $first, i = $index) {
        <li>
            @if (i === lastReadIndex()) {
                <div class="last-read-bar">LAST READ</div>
            }
            @if (first || messages()[i - 1].sendTime.getDate() !== message.sendTime.getDate()) {
                <div class="date-bar">{{ message.sendTime | date }}</div>
            }
            <app-message
                [message]="message"
                [isByMe]="
                    cacheService.cachedData.me && message.senderId === cacheService.cachedData.me.id
                "
                [groupWithPrevious]="
                    i > 0 &&
                    messages()[i - 1].senderId === message.senderId &&
                    message.sendTime.getTime() - messages()[i - 1].sendTime.getTime() < 60000
                "
            />
        </li>
    }
</ul>
