
<div class="nav-bar-holder"></div>
<div class="nav-bar">
    <a class="nav-item" routerLink="/kahla/conversations" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-comment-o"></i>
            <div *ngIf="cacheService.getTotalUnread() > 0 && cacheService.getTotalUnread() < 100" class="reddot">
                {{cacheService.getTotalUnread()}}
            </div>
            <div *ngIf="cacheService.getTotalUnread() > 99" class="reddot">
                99+
            </div>
        </div>
        <div class="words" i18n="@@Kahla">
            Kahla
        </div>
    </a>
    <a class="nav-item" routerLink="/kahla/friends" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-address-book-o"></i>
            <div *ngIf="cacheService.getTotalRequests() > 0 && cacheService.getTotalRequests() < 100" class="reddot">
                {{cacheService.getTotalRequests()}}
            </div>
            <div *ngIf="cacheService.getTotalRequests() > 99" class="reddot">
                99+
            </div>
        </div>
        <div class="words" i18n="@@Friends">
            Friends
        </div>
    </a>
    <a class="nav-item" routerLink="/kahla/settings" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-user-o"></i>
        </div>
        <div class="words" i18n="@@Me">
            Me
        </div>
    </a>
</div>