
<div class="nav-bar-holder"></div>
<div class="nav-bar">
    <a class="nav-item" routerLink="/kahla/conversations" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-comment-o"></i>
            <div *ngIf="totalUnread > 0" class="nav-reddot">
                {{totalUnread}}
            </div>
        </div>
        <div class="words" i18n="@@Kahla">
            Kahla
        </div>
    </a>
    <a class="nav-item" routerLink="/kahla/friends" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-address-book-o"></i>
            <div *ngIf="totalRequests > 0" class="nav-reddot">
                {{totalRequests}}
            </div>
        </div>
        <div class="words" i18n="@@Friends">
            Friends
        </div>
    </a>
    <a class="nav-item" routerLink="/kahla/groups" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="words" i18n="@@Groups">
            Groups
        </div>
    </a>
    <a class="nav-item" routerLink="/kahla/discover" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-binoculars"></i>
        </div>
        <div class="words" i18n="@@Discover">
            Discover
        </div>
    </a>
    <a class="nav-item" routerLink="/kahla/settings" routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-user-o"></i>
        </div>
        <div class="words" i18n="@@Me">
            Me
        </div>
    </a>
</div>