<div class="signin-back">
    <div class="auth-page">
        <div class="auth-header">
            <img src="assets/144x144.png">
            <h1 i18n="@@Kahla">Kahla</h1>
        </div>
        <div class="auth-content">
            <div class="selector mode register">
                <div class="column">
                    <a class="btn" routerLink="/signin" i18n="@@LogIn">Log in</a>
                </div>
                <div class="column">
                    <a class="btn" routerLink="/register" i18n="@@Register">Register</a>
                </div>
            </div>
            <form (ngSubmit)="register()" #registerForm="ngForm">
                <input [(ngModel)]="email" name="email" type="email" i18n-placeholder="@@Email" placeholder="Email" autocomplete="email" required #emailInput="ngModel" email>
                <div class="alert" [hidden]="emailInput.valid || emailInput.pristine">Invalid email!</div>
                <input [(ngModel)]="password" name="password" type="password" minlength="6" maxlength="100" i18n-placeholder="@@Password" placeholder="Password" autocomplete="new-password" required #passwordInput="ngModel" (ngModelChange)="checkSame()">
                <div class="alert" [hidden]="passwordInput.valid || passwordInput.pristine">Password length should between 6 and 100.</div>
                <input [(ngModel)]="confirmPassword" id="confirmInput" name="confirmPassword" minlength="6" maxlength="100" type="password" i18n-placeholder="@@ConfirmPassword" placeholder="Confirm password" autocomplete="new-password" (keyup.enter)="register()" (ngModelChange)="checkSame()" required #confirmInput="ngModel">
                <div class="alert" [hidden]="samePassword || confirmInput.pristine">Passwords should be equal.</div>
                <p>
                    By clicking "Register" below, you agree to our <a href="https://www.aiursoft.com/docs/terms" target="_blank" rel="noopener noreferrer">terms of service</a> and <a href="https://www.aiursoft.com/docs/terms" target="_blank" rel="noopener noreferrer">privacy statment</a>.
                </p>
                <button *ngIf="!connecting" [disabled]="!registerForm.form.valid || !samePassword" class="button white" i18n="@@Register" type="submit">Register</button>
                <button *ngIf="connecting" class="button white" i18n="@@Registering" type="button">Registering...</button>
            </form>
        </div>
    </div>
</div>
