<app-header title="Me" [returnButton]="false"></app-header>

<div class="user" routerLink="/userInfo" *ngIf="cacheService.cachedData.me">
    <div class="user-img">
        <img class="user-img" src="{{ cacheService.cachedData.me.avatarURL}}?w=128&square=true">
        <!-- <div class="small-dot" *ngIf="cacheService.cachedData.me.isOnline !== null"
            [class.greendot]="cacheService.cachedData.me.isOnline"
            [class.graydot]="!cacheService.cachedData.me.isOnline"
            style="top:-11px; right:-43px;">
        </div> -->
    </div>
    <div class="name">
        {{ cacheService.cachedData.me.nickName }}
    </div>
    <div class="bio">
        {{ cacheService.cachedData.me.bio }}
    </div>
    <div class="email" *ngIf="cacheService.cachedData.me.email">
        {{ cacheService.cachedData.me.email }}
        <label class="badge badge-success" *ngIf="cacheService.cachedData.me.emailConfirmed">Verified</label>
    </div>
</div>

<div class="menu-button" *ngIf="homeService.pwaHomeScreenPrompt" (click)="pwaAddHomeScreen()">
    <div class="img">
        <i class="fas fa-thumbtack" aria-hidden="true"></i>
    </div>
    <div class="text">Pin Kahla to home</div>
</div>
<div class="menu-button" *ngIf="homeService.pwaHomeScreenSuccess">
    <div class="img">
        <i class="fas fa-check" aria-hidden="true"></i>
    </div>
    <div class="text">Success</div>
</div>
<div class="menu-holder"></div>

<div class="menu-button" *ngIf="cacheService.cachedData.me && !cacheService.cachedData.me.emailConfirmed"
     (click)="sendEmail()">
    <div class="img warning">
        <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
    </div>
    <div class="text warning">
        <strong>Your account email was not confirmed!</strong>
    </div>
</div>
<div class="menu-button" routerLink="/theme">
    <div class="img">
        <i class="fas fa-paint-brush"></i>
    </div>
    <div class="text" i18n="@@Language">Theme</div>
</div>
<div class="menu-button" routerLink="/advanced-setting">
    <div class="img">
        <i class="fas fa-cog" aria-hidden="true"></i>
    </div>
    <div class="text">Settings</div>
</div>
<div class="menu-button" routerLink="/about">
    <div class="img">
        <i class="fas fa-server "></i>
    </div>
    <div class="text" i18n="@@AboutKahla">About</div>
</div>
<div class="menu-holder"></div>
<div class="buttons">
    <button class="button warning" (click)="SignOut()" i18n="@@Signout">Sign out</button>
</div>
