<app-header title="Me" i18n-title="@@Me"></app-header>

<div class="user">
    <img class="user-img" src="{{GetMe() ? GetMe().headImgUrl : 'https://developer.aiursoft.com/images/appdefaulticon.png'}}?w=100&h=100">
    <div class="name">
        {{GetMe() ? GetMe().nickName : "Loading..."}}
    </div>
    <div class="create-time">
        <ng-container i18n="@@RegisterTime">
            Register Time:
        </ng-container>
        <ng-container *ngIf="GetMe()">
            {{GetMe().accountCreateTime | date:'shortDate'}} {{GetMe().accountCreateTime | date:'shortTime'}}
        </ng-container>
    </div>
</div>

<div class="menu-holder"></div>
<div class="menu-button" routerLink="/kahla/userInforDet">
    <div class="img">
        <i class="fa fa-user"></i>
    </div>
    <div class="text" i18n="@@ProfileSettings">Profile Settings</div>
</div>
<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-shield"></i>
    </div>
    <div class="text" i18n="@@Security">Security</div>
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-bell-o"></i>
    </div>
    <div class="text" i18n="@@Notification">Notification</div>
</div>
<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-unlock-alt"></i>
    </div>
    <div class="text" i18n="@@Privacy">Privacy</div>
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-language"></i>
    </div>
    <div class="text" i18n="@@Language">Language</div>
</div>
<div class="menu-holder"></div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-cogs"></i>
    </div>
    <div class="text" i18n="@@MoreSettings">More Settings</div>
</div>
<div class="menu-button" routerLink="/kahla/about">
    <div class="img">
        <i class="fa fa-server "></i>
    </div>
    <div class="text" i18n="@@AboutKahla">About Kahla</div>
</div>
<div class="menu-holder"></div>
<div class="buttons">
    <button class="warning" (click)="SignOut()" i18n="@@Signout">Sign out</button>
</div>


<app-nav></app-nav>
