<app-header title="Me" i18n-title="@@Me"></app-header>

<div class="user" routerLink="/userInforDet">
    <img class="user-img" src="{{GetMe() ? GetMe().avatarURL : loadingImgURL}}?w=100&h=100">
    <div class="name">
        {{GetMe() ? GetMe().nickName : "Loading..."}}
    </div>
    <div class="create-time">
        <ng-container i18n="@@RegisterTime">
            Register Time:
        </ng-container>
        <ng-container *ngIf="GetMe()">
            {{GetMe().accountCreateTime | date:'M/d/yy h:mm a'}}
        </ng-container>
    </div>
</div>
<div class="menu-holder"></div>
<div class="menu-button" routerLink="/changepassword">
    <div class="img">
        <i class="fa fa-lock" aria-hidden="true"></i>
    </div>
    <div class="text">Change Password</div>
</div>

<div class="menu-button">
    <div class="img">
        <i class="fa fa-language"></i>
    </div>
    <div class="text" i18n="@@Language">Language</div>
</div>
<div class="menu-button" routerLink="/about">
    <div class="img">
        <i class="fa fa-server "></i>
    </div>
    <div class="text" i18n="@@AboutKahla">About Kahla</div>
</div>
<div class="menu-holder"></div>
<div class="buttons">
    <button class="button warning" (click)="SignOut()" i18n="@@Signout">Sign out</button>
</div>


<app-nav></app-nav>
