<div class="signin-back">
    <div class="auth-page">
        <div class="auth-header">
            <img src="assets/144x144.png">
            <h1 i18n="@@Kahla">Kahla</h1>
            <h3 *ngIf="changingServer">Select server</h3>
        </div>
        <div class="auth-content" *ngIf="!changingServer && apiService.serverConfig">
            <a class="actionLink" href="javascript:"
                (click)="changingServer = true">Server: {{this.apiService.serverConfig.serverName}}</a>
            <p *ngIf="!this.apiService.serverConfig.officialServer" class="text-warn">
                (Not an official server)
            </p>
            <a class="button white login" href="{{ this.apiService.serverConfig.domain.server }}/Auth/Oauth"
               [target]="_electronService.isElectronApp ? '_blank' : ''">
                Sign in
            </a>
            <a class="button white login" href="{{ this.apiService.serverConfig.domain.server }}/Auth/GoRegister"
               [target]="_electronService.isElectronApp ? '_blank' : ''">
                Register
            </a>
            <a class="actionLink" href="https://gateway.aiursoft.com/Password/ForgotpasswordFor"
               target="_blank" rel="noopener noreferrer">Forgot password?</a>
        </div>

        <div class="auth-content" *ngIf="changingServer">
            <div class="button white login" (click)="clearCommunityServerData()">
                Aiursoft official server
            </div>
            <div class="split-bar">community server</div>
            <input type="text" [(ngModel)]="serverAddr" class="inputAddr" placeholder="https://example.com"
                   (keyup.enter)="connectCommunity()"/>
            <button class="button white login" (click)="connectCommunity()"><i class="fas fa-chevron-right"></i>
                Connect
            </button>
        </div>
    </div>
</div>
