<div class="signin-back">
    <div class="auth-page">
        <div class="auth-header">
            <img src="assets/144x144.png">
            <h1 i18n="@@Kahla">Kahla</h1>
        </div>
        <div class="auth-content">
            <input type="text" [(ngModel)]="userName" class="inputAddr" placeholder="UserName"
            (keyup.enter)="login()"/>

            <input type="password" [(ngModel)]="password" class="inputAddr" placeholder="Password"
            (keyup.enter)="login()"/>
            <div class="button white login" (click)="login()">
                Sign in
            </div>
            <div class="button white login">
                Register
            </div>
            <a class="actionLink" href="javascript:void(0)" (click)="forgetPassword()">Forgot password?</a>
        </div>
    </div>
</div>