<div class="signin-back">
    <div class="auth-page">
        <div class="auth-header">
            <img src="assets/144x144.png">
            <h1 i18n="@@Kahla">Kahla</h1>
        </div>
        <div class="auth-content">
            <form>
                <a class="button white login" href="{{ OAuthURL }}/Auth/Oauth"
                   [target]="_electronService.isElectronApp ? '_blank' : ''">
                    Sign in
                </a>
                <a class="button white login" href="{{ OAuthURL }}/Auth/GoRegister"
                   [target]="_electronService.isElectronApp ? '_blank' : ''">
                    Register
                </a>
                <a class="forgetPassword" href="https://api.aiursoft.com/Password/ForgotpasswordFor" target="_blank" rel="noopener noreferrer">Forgot password?</a>
            </form>
        </div>
    </div>
</div>
