<app-header title="Loading..." i18n-title="@@Loading" returnButton="true" Button="true" ButtonIcon="user" #header></app-header>
<ul class="message-list" #mainList [ngClass]="{'active': showPanel}" (paste)="paste($event)" (drop)="drop($event)" (dragover)="preventDefault($event)">
    <li *ngFor="let message of messages" [ngClass]="{'left': message.senderId != myId(), 'right': message.senderId == myId()}">
        <div class="chat-avatar" routerLink="/kahla/user/{{message.sender.id}}">
            <img src="{{message.sender.avatarURL ? message.sender.avatarURL : '../../assets/loading.gif'}}?w=80&h=80">
        </div>
        <div class="chat-text">
            <div class="chat-content">
                <span *ngIf="conversation.discriminator === 'GroupConversation' && message.senderId != myId()" [ngStyle]="{'color': userNameColors.get(message.senderId)}">{{ message.sender.nickName }}<br></span>
                <a *ngIf="message.content.startsWith('[img]')" [ngClass]="{'loading': message.local}" target="_blank" href="{{message.content.substring(5)}}">
                    <img src="{{message.content.substring(5)}}">
                </a>
                <a *ngIf="message.content.startsWith('[file]')" [ngClass]="{'loading': message.local}" target="_blank" rel="noopener noreferrer" href="{{message.content.substring(6)}}?sd=true">
                    Click to download
                </a>
                <div *ngIf="message.content.startsWith('[video]')" [ngClass]="{'loading': message.local}">
                    <video src="{{message.content.substring(7)}}" controls muted></video>
                </div>
                <p *ngIf="!message.content.startsWith('[')" [ngClass]="{'loading': message.local}" [innerHTML]="message.content"></p>
            </div>
            <p class="sendTime">
                <span *ngIf="message.local" i18n="@@Sending">
                    Sending...
                </span>
                <span>
                    {{message.sendTime | date:'M/d/yy h:mm a'}}
                </span>
            </p>
        </div>
    </li>
    <button *ngIf="showScrollDown" id="scrollDown" class="button button--fab primary" (click)="scrollBottom(true)">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
    </button>
</ul>

<div class="chat-action">
    <div class="chat-part">
        <textarea id="chatInput" [(ngModel)]="content" type="text" (click)="startInput()" (keyup.enter)="send()" (paste)="paste($event)" (drop)="drop($event)" (dragover)="preventDefault($event)"></textarea>
        <button class="button success" [disabled]="content==undefined || content.trim().length === 0" (click)="send()" i18n="@@Send">Send</button>
    </div>
    <div class="button-part" (click)="togglePanel()" *ngIf="content==undefined || content.trim().length === 0">
        <i class="icon fa fa-plus-circle"></i>
    </div>
    <div *ngIf="showPanel" class="more-panel">
        <div class="of4">
            <input type="file" name="image" id="image" class="inputfile" #imageInput (change)="uploadInput()" accept="image/*" />
            <label for="image"><i style="color: #00CC9C;" class="fa fa-picture-o"></i>
                <div class="text">
                Send Image
            </div>
            </label>
        </div>
        <div class="of4">
            <input type="file" name="file" id="file" class="inputfile" #fileInput (change)="uploadInput()" />
            <label for="file"><i style="color: #4694F6;" class="fa fa-file-image-o"></i>
                <div class="text">
                    Send File
                </div>
            </label>
        </div>
    </div>
</div>
<progress *ngIf="uploading" max="100" value={{progress}}></progress>
