<app-header title="Theme" closeDirectly="true"></app-header>
<div class="menu-button" (click)="changeTheme(0)">
    <div class="text" i18n="@@Light">Kahla Light</div>
    <div class="img checked"
    [style.visibility]="currentTheme === 0 ? 'visible' : 'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>
<div class="menu-button" (click)="changeTheme(1)">
    <div class="text" i18n="@@Dark">Kahla Dark</div>
    <div class="img checked"
    [style.visibility]="currentTheme === 1 ? 'visible':'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>
<div class="menu-button" (click)="changeTheme(2)">
    <div class="text" i18n="@@Dark">Sakura Light</div>
    <div class="img checked"
    [style.visibility]="currentTheme === 2 ? 'visible':'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>
<div class="menu-button" (click)="changeTheme(3)">
    <div class="text" i18n="@@Dark">Sakura Dark</div>
    <div class="img checked"
    [style.visibility]="currentTheme === 3 ? 'visible':'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>
<div class="menu-button" (click)="changeTheme(4)">
    <div class="text" i18n="@@Dark">Violet Light</div>
    <div class="img checked"
         [style.visibility]="currentTheme === 4 ? 'visible':'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>
<div class="menu-button" (click)="changeTheme(5)">
    <div class="text" i18n="@@Dark">Violet Dark</div>
    <div class="img checked"
         [style.visibility]="currentTheme === 5 ? 'visible':'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>
<div class="menu-button" (click)="changeTheme(6)">
    <div class="text" i18n="@@Dark">Communist light</div>
    <div class="img checked"
         [style.visibility]="currentTheme === 6 ? 'visible':'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>

<div class="menu-button" (click)="changeTheme(7)">
    <div class="text" i18n="@@Dark">Communist dark</div>
    <div class="img checked"
         [style.visibility]="currentTheme === 7 ? 'visible':'hidden'"
    >
        <i class="fas fa-check"></i>
    </div>
</div>
