<app-header title="Thread Info"></app-header>
@if (thread.hasValue()) {
    <app-thread-basic-info [threadInfo]="thread.value()" />

    <div class="menu-button">
        <div class="img">
            <i class="fas fa-share-alt"></i>
        </div>
        <div class="text">Invite</div>
    </div>

    <div class="menu-gap"></div>
    <div class="menu-button" routerLink="/talking/{{ thread.value().id }}">
        <div class="img">
            <i class="fas fa-comments"></i>
        </div>
        <div class="text">Message</div>
    </div>
    <div class="menu-button" routerLink="/file-history/{{ thread.value().id }}">
        <div class="img">
            <i class="fas fa-history"></i>
        </div>
        <div class="text">File History</div>
    </div>
    <app-toggle-menu-item
        [value]="thread.value().muted"
        (valueChange)="setMute($event)"
        title="Mute Nitification"
        iconClasses="fas fa-bell-slash"
    ></app-toggle-menu-item>
    <div
        class="menu-button"
        *ngIf="thread.value().imAdmin"
        routerLink="/manage-thread/{{ thread.value().id }}"
    >
        <div class="img">
            <i class="fas fa-cogs"></i>
        </div>
        <div class="text">Manage Thread</div>
    </div>
    <div class="menu-gap"></div>
    <div class="menu-button">
        <div class="img">
            <i class="fas fa-users"></i>
        </div>
        <div class="text">members</div>
    </div>
    <app-contact-list [contacts]="topTenRepo()"></app-contact-list>
    <div class="menu-button" routerLink="/thread-members/{{ thread.value().id }}">
        <div class="img">
            <i class="fas fa-users"></i>
        </div>
        <div class="text">Show All</div>
    </div>
    <div class="menu-gap"></div>
    <div class="menu-button" (click)="leaveThread()">
        <div class="img">
            <i class="fas fa-sign-out-alt warning"></i>
        </div>
        <div class="text text-warning">Leave Thread</div>
    </div>
} @else {
    <div class="menu-hint">Loading...</div>
}
