<app-header title="Thread Info"></app-header>
@if (thread.hasValue()) {
    <div class="user">
        <!--TODO: replace with thread avatar-->
        <a
            class="user-img groupGridRow"
            href="{{ thread.value().imagePath | storageUrl }}"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img
                class="user-img groupGridRow"
                src="{{ thread.value().imagePath | storageUrl }}?w=128&square=true"
            />
        </a>
        <div class="name">{{ thread.value() | threadName }}</div>
        <div class="create-time">Create Time: {{ thread.value().createTime | date: 'mediumDate' }}</div>
    </div>
    <div class="menu-button">
        <div class="img">
            <i class="fas fa-share-alt"></i>
        </div>
        <div class="text">Invite</div>
    </div>

    <div class="menu-holder"></div>
    <div class="menu-button" routerLink="/talking/{{ thread.value().id }}">
        <div class="img">
            <i class="fas fa-comments"></i>
        </div>
        <div class="text">Message</div>
    </div>
    <div class="menu-button" routerLink="/file-history/{{ thread.value().id }}">
        <div class="img">
            <i class="fas fa-history"></i>
        </div>
        <div class="text">File History</div>
    </div>
    <app-toggle-menu-item
        [value]="thread.value().muted"
        (valueChange)="setMute($event)"
        title="Mute Nitification"
        iconClasses="fas fa-bell-slash"
    ></app-toggle-menu-item>
    <div class="menu-button" *ngIf="thread.value().imAdmin" routerLink="/managegroup/{{ thread.value().id }}">
        <div class="img">
            <i class="fas fa-cogs"></i>
        </div>
        <div class="text">Manage Thread</div>
    </div>
    <div class="menu-holder"></div>
    <div class="menu-button">
        <div class="img">
            <i class="fas fa-users"></i>
        </div>
        <div class="text">members</div>
    </div>
    <app-contact-list [contactsList]="thread.value().topTenMembers"></app-contact-list>
    <div class="menu-button" routerLink="/thread-members/{{ thread.value().id }}">
        <div class="img">
            <i class="fas fa-users"></i>
        </div>
        <div class="text">Show All</div>
    </div>
    <div class="menu-holder"></div>
    <div class="menu-button">
        <div class="img">
            <i class="fas fa-sign-out-alt warning"></i>
        </div>
        <div class="text text-warning">Leave Thread</div>
    </div>
} @else {
    <div class="menu-hint">Loading...</div>
}
