@if (viewingDetail()) {
    <app-thread-member-detail-fragment
        [memberInfo]="viewingDetail()"
        [threadInfo]="threadInfo.value()"
        (returnButtonClicked)="this.viewingDetail.set(null)"
    />
} @else {
    <app-header
        title="{{ repo.value()?.total ?? '' }} Members"
        [processing]="!repo.value() || repo.value().status === 'loading'"
    ></app-header>
    @if (mappedRepo()) {
        <app-contact-list
            [contacts]="mappedRepo()"
            emptyMessage="No members in this thread."
            [preventDefault]="true"
            (contactClicked)="viewDetail($event.item)"
        ></app-contact-list>
    } @else {
        <div class="menu-hint">Loading...</div>
    }
}
