@for (inf of threadRepo.data; track inf.id) {
    <div
        class="conversation"
        (click)="threadClicked.emit({ thread: inf, secondary: $event.ctrlKey })"
        [class.w-current]="highlightPredicate(inf)"
    >
        <img
            class="user-img"
            src="{{ inf.imagePath || loadingImgURL | storageUrl }}?w=128&square=true"
            (click)="threadClicked.emit({ thread: inf, secondary: true }); $event.stopPropagation()"
        />
        @if (!externalView) {
            @if (onlineStatusOf(inf) !== null) {
                <div
                    class="small-dot"
                    style="top: 52px; right: 7px"
                    [class.greendot]="onlineStatusOf(inf)"
                    [class.graydot]="!onlineStatusOf(inf)"
                ></div>
            }

            <div
                *ngIf="inf.messageContext.unReadAmount > 0"
                class="dot"
                [ngClass]="inf.muted ? 'bluedot' : 'reddot'"
            >
                {{ inf.messageContext.unReadAmount | truncatedNum }}
            </div>
            <div *ngIf="inf.someoneAtMe" class="dot at-dot">&#64;</div>
        }
        <div class="sender">{{ inf | threadName }}</div>
        @if (externalView) {
            <div class="last-message">
                {{ inf.allowDirectJoinWithoutInvitation ? 'Public' : 'Private' }}
            </div>
        } @else if (inf.messageContext?.latestMessage) {
            <div class="last-time">
                {{ inf.messageContext.latestMessage.sendTime | date: 'shortTime' }}
            </div>
            <div class="last-message" title="{{ inf.messageContext.latestMessage.content }}">
                @if (inf.topTenMembers.length === 2 && cacheService.cachedData.me) {
                    @if (
                        inf.messageContext.latestMessage.sender.id === cacheService.cachedData.me.id
                    ) {
                        <i class="fas fa-angle-right"></i>
                    } @else {
                        <i class="fas fa-angle-left"></i>
                    }
                } @else if (inf.topTenMembers.length > 2) {
                    <b>{{ inf.messageContext.latestMessage.sender.nickName }}:</b>
                }
                {{ inf.messageContext.latestMessage.content }}
            </div>
        } @else {
            <div class="last-message">No message. Start talking now!</div>
        }
    </div>
}
@if (threadRepo.status === 'synced' && !threadRepo.total) {
    <div class="empty-result-notice">{{ emptyMessage }}</div>
}
@if (
    threadRepo.canLoadMore && (threadRepo.status === 'synced' || threadRepo.status === 'loading')
) {
    <app-load-more-button
        [autoLoad]="autoLoadMore"
        [scrollHostElement]="scrollingContainer"
        (requestLoadMore)="threadRepo.loadMore(20)"
        [loading]="threadRepo.status === 'loading'"
    ></app-load-more-button>
}
