<app-header title="Edit Profile" closeDirectly="true"></app-header>
<div *ngIf="me">
  <div class="profile avatar">
      <label>Avatar</label>
      <a class="user-img" href="{{me ? me.iconUrl : loadingImgURL}}" target="_blank">
        <img class="user-img" src="{{me.iconUrl ? me.iconUrl : loadingImgURL}}?w=256&square=true">
      </a>
      <label id="upload" class="button primary inputButton" for="image">Upload new avatar</label>
      <input type="file" name="image" id="image" #imageInput (change)="uploadAvatar()" accept="image/png, image/jpeg, image/bmp" />
    </div>
  <div class="profile">
    <label>Nick name</label>
    <input [(ngModel)]="me.nickName" placeholder=" Enter your new nickname" type="text" (keyup.enter)="save()" />
  </div>
  <div class="profile">
    <label>Bio</label>
    <input [(ngModel)]="me.bio" placeholder="Enter your new signature" type="text" (keyup.enter)="save()" />
  </div>
  <div class="buttons">
    <button id="save" class="button primary" (click)="save()" i18n="@@save">Save</button>
  </div>
</div>
