<app-header title="Profile" i18n-title="@@Profile" returnButton="true"></app-header>
<div *ngIf="info" class="user">
    <img class="user-img" src="{{info.avatarURL ? info.avatarURL : '../../assets/loading.gif'}}">
    <div class="name">
        {{info.nickName}}
    </div>
    <div class="create-time">
        Bio: {{info.bio}}
        <!-- Register Time: {{user.accountCreateTime | date:'shortDate'}} {{user.accountCreateTime | date:'shortTime'}} -->
    </div>
</div>

<div class="menu-holder"></div>
<div class="menu-button" *ngIf="info && areFriends">
    <div class="img">
        <i class="fa fa-history"></i>
    </div>
    <div class="text" i18n="@@FileHistory">File History</div>
</div>
<div class="menu-button">
    <div class="img">
        <i class="fa fa-gavel "></i>
    </div>
    <div class="text" i18n="@@Report">Report</div>
</div>
<div class="menu-button" *ngIf="info && areFriends">
    <div class="img">
        <i class="fa fa-ban"></i>
    </div>
    <div class="text" i18n="@@Report">Block</div>
</div>
<div class="menu-button" *ngIf="info && areFriends" (click)="delete(info.id)">
    <div class="img">
        <i class="fa fa-trash warning"></i>
    </div>
    <div class="text warning" i18n="@@Delete">Delete</div>
</div>
<div class="menu-holder"></div>

<div class="buttons">
    <button class="success" *ngIf="info && !areFriends" (click)="request(info.id)" i18n="@@SendFriendRequest">Send Friend Request</button>
    <button class="success" *ngIf="info && areFriends"  (click)="talk(conversationId)" i18n="@@Message">Messages</button>
</div>
