<app-header title="Profile" i18n-title="@@Profile" returnButton="true"></app-header>
<div *ngIf="info" class="user">
    <a class="user-img" href="{{ info.avatarURL ? info.avatarURL : loadingImgURL }}" target="_blank" rel="noopener noreferrer">
        <img class="user-img" src="{{ info.avatarURL ? info.avatarURL : loadingImgURL }}?w=100&h=100">
    </a>
    <div class="name">
        {{ info.nickName }}
    </div>
    <div class="bio">
        {{ info.bio }}
    </div>
    <div class="email">
        {{ info.email }}
        <label class="badge badge-success" *ngIf="info.emailConfirmed">Verified</label>
    </div>
</div>

<div class="menu-button" *ngIf="info && !info.emailConfirmed">
    <div class="img warning">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </div>
    <div class="text warning">
        <strong>This user's email is not verified.</strong>
    </div>
</div>

<div class="menu-holder"></div>
<div class="menu-button" *ngIf="info && areFriends" (click)="timerService.setTimer(conversationId)">
    <div class="img">
        <i class="fa fa-clock-o"></i>
    </div>
    <div class="text">Self-destruct Timer</div>
</div>
<div class="menu-button" *ngIf="info && areFriends">
    <div class="img">
        <i class="fa fa-history"></i>
    </div>
    <div class="text" i18n="@@FileHistory">File History</div>
</div>
<div class="menu-button" (click)="report()" *ngIf="info && messageService.me && info.id != messageService.me.id">
    <div class="img">
        <i class="fa fa-gavel "></i>
    </div>
    <div class="text" i18n="@@Report">Report</div>
</div>
<div class="menu-button" *ngIf="info && messageService.me && areFriends && info.id != messageService.me.id">
    <div class="img">
        <i class="fa fa-ban"></i>
    </div>
    <div class="text" i18n="@@Report">Block</div>
</div>
<div class="menu-button" *ngIf="info && messageService.me && areFriends && info.id != messageService.me.id" (click)="delete(info.id)">
    <div class="img">
        <i class="fa fa-trash warning"></i>
    </div>
    <div class="text warning" i18n="@@Delete">Delete</div>
</div>
<div class="menu-holder"></div>

<div class="menu-button" *ngIf="info && messageService.me && !areFriends && !messageService.me.emailConfirmed">
    <div class="img warning">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </div>
    <div class="text warning">
        <strong>You can't send friend requests until your email is verified.</strong>
    </div>
</div>

<div class="buttons">
    <button class="button success" *ngIf="info && messageService.me && !areFriends && messageService.me.emailConfirmed && !sentRequest" (click)="request(info.id)" i18n="@@SendFriendRequest">Send Friend Request</button>
    <button class="button success" *ngIf="info && areFriends" routerLink="/talking/{{ conversationId }}" i18n="@@Message">Messages</button>
    <button class="button success" *ngIf="sentRequest" disabled>Request was sent</button>
</div>
