<?xml version="1.0" encoding="utf-8"?>

<configuration> 
  <system.webServer> 
    <rewrite> 
      <rules> 
        <rule name="HTTPS force" enabled="true" stopProcessing="true"> 
          <match url="(.*)"/>  
          <conditions> 
            <add input="{HTTPS}" pattern="^OFF$"/> 
          </conditions>  
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/> 
        </rule> 
        <rule name="Angular" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules> 
    </rewrite> 
  </system.webServer> 
</configuration>